.btn {
  padding: 8px 20px;
  border-radius: 30px;
  font-weight: 500;
  text-align: center;
  min-width: 100px;
  height: 37px;
  width: max-content;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  cursor: pointer;
  border: none;
  font-size: 90%;
  background-size: 180% 100%;
  transition: all 0.5s;

  img {
    width: 14px;
    margin-right: 8px;
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
  }

  .component-iconify {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    margin-left: 7px;
  }

  &.success-btn {
    background-color: var(--themeColor);
    box-shadow: 0 10px 20px -10px var(--themeColor);
    font-weight: 500;
    border: 1px solid var(--themeColor);
    color: var(--whiteColor);

    &:hover {
      background-color: darken(#ef5323, 10%);
      color: var(--whiteColor);
    }
  }

  &.dark-btn {
    color: var(--whiteColor);
    background-color: var(--themeDarkColor);
    box-shadow: 0 10px 20px -10px #061936;

    &:hover {
      background-position: 100% 0;
      -o-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      box-shadow: 0 10px 20px -10px #133975;
      background-color: var(--darkButtonHoverBgColor);
      color: var(--whiteColor);
    }
  }

  &.tab-button {
    letter-spacing: 0px;
    padding: 8px 20px;
    font-weight: 600;
    font-size: inherit;
    border:1px solid var(--themeColor);
    color: var(--themeColor);
    border-radius: 30px;
    transition: 0.5s all;

    &:hover {
      box-shadow: 0 2px 15px -2px var(--themeColor);
      color: var(--themeColor);
    }
  }

  &.portfolio-button {
    letter-spacing: 0px;
    padding: 8px 20px;
    font-weight: 600;
    font-size: inherit;
    background-color: var(--themeColor);
    color: #fff;
    border-radius: 4px;

    &:hover {
      box-shadow: inset 0 0 0 2px var(--themeColor);
      color: var(--themeColor);
    }
  }

  &.primary-btn {
    border-color: var(--primaryColor);
    background-color: var(--primaryColor);
    color: rgb(255 255 255/1);
    box-shadow: 0 10px 20px -10px #4361ee99;
  }

  &.secondary-btn {
    border-color: var(--secondaryColor);
    background-color: var(--secondaryColor);
    color: rgb(255 255 255/1);
    box-shadow: 0 10px 20px -10px #805dca99;
  }

  &.danger-btn {
    border-color: var(--dangerColor);
    background-color: var(--dangerColor);
    color: rgb(255 255 255/1);
    box-shadow: 0 10px 20px -10px #e7515a99;
  }

  &.warning-btn {
    border-color: var(--warningColor);
    background-color: var(--warningColor);
    color: rgb(255 255 255/1);
    box-shadow: 0 10px 20px -10px #e2a03f99;
  }

  &.info-btn {
    background-color: var(--infoColor);
    border-color: var(--infoColor);
    color: rgb(255 255 255/1);
    box-shadow: 0 10px 20px -10px #2196f399;
  }

  &.common-btn {
    letter-spacing: 0px;
    padding:8px 20px;
    font-weight: 600;
    font-size: inherit;
    background-color: var(--themeColor);
    color: #fff;
    border-radius: 4px;

    &:hover {
      box-shadow: inset 0 0 0 2px var(--themeColor);
      color: var(--themeColor);
    }
  }

  &.white-border-btn {
    color: var(--whiteColor);
    border: 1px solid var(--textColor-light);

    &:hover {
      border-color: var(--whiteColor);
      color: var(--themeColor);
    }
  }

  &.dark-border-btn {
    color: var(--textColor);
    border: 1px solid var(--textColor);

    &:hover {
      border-color: var(--themeColor);
      color: var(--themeColor);
    }
  }

  &.theme-btn {
    color: var(--whiteColor);
    background: var(--themeColor);
    transition: 0.5s all;

    &:hover {
      background-position: 100% 0;
      box-shadow: 0 10px 20px -10px var(--themeColor);
      color: var(--whiteColor);
      background: #ec5122;
      transition: 0.5s all;
    }
  }

  .cta-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 15px 35px;
    font-weight: var(--commonFontSize-medium);
    color: var(--whiteColor);
    background-color: var(--textColor);
    border: none;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background-color: var(--darkBtnHover);
    }

    letter-spacing: 0;
    border-radius: 3px;

    svg {
      font-size: var(--commonFontSize-extraSmall);
    }
  }
}