.image-card {
  padding: 30px;
  width: 100%;
  height: 100%;
  transition: border-radius 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  display: flex;
  align-items: flex-start;
  background-color: var(--whiteColor);
  border-radius: 1rem 1rem 1rem 1rem;
  box-shadow: 5px 5px 25px 0 #00000026;
  overflow: hidden;

  @media only screen and (max-width: 1024px) {
    padding: 15px;
  }

  @media only screen and (max-width: 991px) {
    flex-direction: column;
    padding-top: 0px;
  }

  .left-section {
    width: 75%;
    transform: translateY(12px);
    transition: 0.5s all;
    padding-right: 10px;

    @media only screen and (max-width: 991px) {
      width: 100%;
      transform: unset;
      order: 2;
    }

    .image-card {
      &__title {
        font-size: var(--commonFontSize-extraLarge);
        color: var(--textColor);
        margin-bottom: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: 600;
      }

      &__description {
        font-size: var(--commonFontSize-small);
        color: #797979;
        margin-bottom: 0px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &__link {
        font-size: var(--commonFontSize-small);
        color: var(--whiteColor);
        text-decoration: none;
        font-weight: 400;
        margin-top: 10px;
        cursor: pointer;
        transition: all 0.5s;
        background: var(--blackColor);
        display: inline-block;
        padding: 3px 10px;
        border-radius: 5px;
        transform: translateY(55px);
        border: none;

        @media only screen and (max-width: 991px) {
          transform: unset;
        }

        &:hover {
          // text-decoration: underline;
          padding-left: 10px;
          background: var(--darkBtnHover);
        }
      }

      @media only screen and (max-width: 991px) {
        justify-content: flex-end;
      }
    }

    .service-tag {
      ul {
        list-style-type: none;
        padding: 0;
        margin: 10px 0 5px 0;

        li {
          display: inline-block;
          margin-right: 5px;
          margin-bottom: 2px;
          padding: 2px 10px;
          border-radius: 30px;
          font-size: 11px;
          background: #e9e9e9;
          color: var(--blackColor);
        }
      }
    }
  }

  .right-icon {
    width: 25%;
    transform: translateY(12px);
    transition: 0.5s all;

    @media only screen and (max-width: 991px) {
      width: 100%;
      text-align: center;
      transform: unset;
    }

    .image-card {
      &__icon {
        margin: auto;
        border-radius: 100%;

        img {
          transition: 0.5s all;
        }
      }
    }
  }

  &:hover {
    box-shadow: 5px 5px 25px 0 #cbd6d9;

    .left-section {
      transform: translateY(0);

      .image-card__link {
        transform: translateY(0px);

        @media only screen and (max-width: 991px) {
          transform: unset;
        }
      }

      @media only screen and (max-width: 991px) {
        transform: unset;
      }
    }

    .right-icon {
      img {
        transform: scale(1.2);
      }

      @media only screen and (max-width: 991px) {
        transform: unset;
      }
    }
  }
}
