.blog-list-main {
  padding-bottom: 5px;
  background: url(../../assets/images/main-bg.webp);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  .title-center {
    p {
      max-width: 80%;
      margin: 0 auto 30px;
    }

    h2 {
      color: orangered;
    }
  }

  .blog-top-filters {
    padding: 15px;
    border: 2px dashed var(--themeColor);
    border-radius: 25px;
    position: relative;

    .blog-category-sec {
      background: var(--themeColorLight);
      padding: 30px 30px 20px;
      border-radius: 20px;

      .category-box {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        cursor: pointer;
        transition: transform 0.2s ease;

        &:hover {
          transform: translateY(-2px);

          .desc-part h4 {
            color: var(--themeColor);
          }
        }

        .icon-part {
          margin-right: 15px;
          min-width: 55px;
          min-height: 55px;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--whiteColor);
          font-size: 30px;

          // ✅ Use CSS custom properties for better performance
          &.red-bg {
            background: var(--redBg);
          }

          &.blue-bg {
            background: var(--skyblueBg);
          }

          &.yellow-bg {
            background: var(--yellowBg);
          }

          &.pink-bg {
            background: var(--pinkBg);
          }

          &.green-bg {
            background: var(--greenBg);
          }

          &.lightGreen-bg {
            background: var(--lightGreenBg);
          }

          &.purple-bg {
            background: var(--purpulBg);
          }
        }

        .desc-part {
          color: var(--blackColor);

          h4 {
            font-weight: 600;
            margin-bottom: 0;
            font-size: 22px;
            transition: color 0.3s ease;
          }
        }
      }
    }
  }
}

//Blog List
.blog-container {
  padding-top: 4px;
}

.blog-card {
  padding: 20px;
  border-radius: 14px;
  border: 1px solid #dddddd;
  background: var(--whiteColor);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  will-change: transform;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  }

  .blog-image {
    width: 100%;

    img {
      width: 100%;
      height: auto;
      aspect-ratio: 16 / 9; // Keeps consistent layout
      object-fit: contain;
      border-radius: 8px;
      border: 1px solid #f2f2f2;
      display: block;

      @media (max-width: 1280px) {
        aspect-ratio: unset;
      }
    }
  }

  .blog-content {
    margin-top: 10px;

    .top-dat-auther {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .blog-date-category {
      display: flex;
      align-items: center;
      margin: 0;
      font-size: clamp(14px, 2vw, 16px);
      color: var(--themeColor);

      .iconify {
        margin-right: 5px;
      }
    }

    .blog-title {
      font-size: clamp(18px, 2.2vw, var(--commonFontSize-large));
      line-height: 1.4;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      color: var(--blackColor);
      margin-top: 5px;
      height: calc(1.4em * 2); // 2 lines tall, consistent
    }

    .blog-meta {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      font-size: clamp(14px, 1.6vw, var(--commonFontSize-small));
      color: var(--themeColor);

      .blog-author,
      .blog-likes,
      .blog-comments {
        display: flex;
        align-items: center;

        span {
          margin-left: 5px;
        }

        &:hover {
          color: var(--themeColor);
        }
      }
    }

    .blog-description {
      font-size: clamp(14px, 1.8vw, var(--commonFontSize-medium));
      line-height: 1.6;
      color: var(--textColor-medium);
      margin: 5px 0 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-align: left;
      height: calc(1.6em * 2); // 2 lines tall for desc too

      p {
        margin-bottom: 0 !important;
      }
    }

    .btn-link {
      color: #000;
      font-size: clamp(14px, 2vw, 16px);
      font-weight: 500;
      line-height: 26px;
      position: relative;
      z-index: 1;
      padding: 0 18px;
      text-decoration: none;
      cursor: pointer;

      &::before {
        content: "";
        width: 37px;
        height: 37px;
        position: absolute;
        left: 0;
        top: -7px;
        background: #ffe8e8;
        border-radius: 50px;
        border: 1px solid #ffc4c3;
        z-index: -1;
        transition: all 0.3s;
      }

      &:hover::before {
        border-radius: 8px;
        width: 100%;
      }
    }
  }

  @media (max-width: 1024px) {
    transform: unset !important;
  }
}

//Blog List

//Blog Detail
.blog-details {
  .blog-head {
    text-align: center;

    .blog-date-category {
      background-color: var(--themeColor);
      color: var(--whiteColor);
      padding: 5px 10px;
      border-radius: 3px;
      font-size: var(--commonFontSize-small);
    }

    .blog-title {
      margin-top: 20px;
      font-size: var(--commonFontSize-subTitle);
      font-weight: 600;
      color: var(--blackColor);
    }

    .blog-meta {
      margin-top: 10px;
      display: flex;
      gap: 15px;
      font-size: var(--commonFontSize-small);
      color: var(--bodyColor);
      justify-content: center;

      .blog-author {
        display: flex;
        align-items: center;

        span {
          margin-left: 5px;
        }

        cursor: pointer;

        &:hover {
          color: var(--themeColor);
        }
      }

      .blog-likes {
        display: flex;
        align-items: center;

        span {
          margin-left: 5px;
        }

        cursor: pointer;

        &:hover {
          color: var(--themeColor);
        }
      }

      .blog-comments {
        display: flex;
        align-items: center;
        cursor: pointer;

        span {
          margin-left: 5px;
        }

        &:hover {
          color: var(--themeColor);
        }
      }
    }

    .blog-image {
      margin-top: 30px;
      // background-color: var(--lightGreyBG);
      // height: 500px;
    }

    .blog-description {
      font-size: var(--commonFontSize-medium);
      color: var(--textColor-medium);
      margin: 15px 0px;
      text-align: left;
    }
  }

  .blog-notes {
    border: 1px solid var(--borderColor);
    padding: 25px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .icon {
      font-size: var(--commonFontSize-subTitle);
      margin-top: -15px;
      width: 100px;
      color: var(--blackColor);

      svg {
        margin: -7px;
      }
    }

    .notes {
      font-style: italic;
      font-weight: 500;
      color: var(--blackColor);
      width: 100%;

      .notes-author {
        margin-top: 15px;
        margin-bottom: -10px;
        font-weight: bolder;
      }
    }
  }

  .mid-section {
    margin-top: 50px;
    display: flex;

    .sec-img {
      min-height: 400px;
      background-color: var(--lightGreyBG);
    }

    .sec-desp {
      padding: 10px 40px;

      .title {
        font-size: var(--commonFontSize-2extraLarge);
        font-weight: 600;
        color: var(--blackColor);
        margin: 0 0 10px;
      }

      .description {
        margin-bottom: 20px;
      }

      .pointheader {
        font-size: var(--commonFontSize-large);
        font-weight: 600;
        color: var(--blackColor);
      }

      ul {
        list-style: none;
        padding-left: 10px;
        margin-top: 5px;

        li {
          display: flex;
          align-items: center;

          svg {
            margin-right: 10px;
            font-size: var(--commonFontSize-large);
          }

          padding: 4px 0;
        }
      }
    }
  }

  .author-card {
    display: flex;
    align-items: center;
    background: var(--whiteColor);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;

    &__avatar {
      flex-shrink: 0;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 20px;
      background-color: #e0e0e0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: var(--commonFontSize-extraLarge);
      font-weight: 600;
    }

    &__content {
      flex-grow: 1;
    }

    &__name {
      font-size: var(--commonFontSize);
      font-weight: 600;
      margin-bottom: 10px;
    }

    &__description {
      font-size: var(--commonFontSize-small);
      color: var(--textColor-medium);
      margin-bottom: 20px;
    }

    &__link {
      position: relative;
      font-size: var(--commonFontSize-small);
      font-weight: 600;
      text-decoration: none;
      color: var(--textColor);
      display: inline-block;

      &::before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -2px;
        width: 0;
        height: 2px;
        background-color: var(--blackColor);
        transition: all 0.3s ease-in-out;
        transform: translateX(-50%);
      }

      &:hover::before {
        width: 100%;
        left: 0;
        transform: translateX(0);
      }
    }
  }

  .sub-footer {
    .tag-button {
      background-color: var(--whiteColor);
      color: var(--textColor);
      border: 1px solid var(--blackColor);
      font-size: var(--commonFontSize-2extraSmall);
      padding: 5px 10px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        border-color: var(--themeColor);
        color: var(--themeColor);
      }
    }

    .social-media-group {
      display: flex;
      gap: 5px;

      .social-media-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--borderColor);
        height: 30px;
        width: 30px;
        border-radius: 100%;
        cursor: pointer;

        &.facebook {
          &:hover {
            color: var(--whiteColor);
            background-color: #1877f2;
          }
        }

        &.twitter {
          &:hover {
            color: var(--whiteColor);
            background-color: #1da1f2;
          }
        }

        &.instagram {
          &:hover {
            color: var(--whiteColor);
            background: linear-gradient(
              45deg,
              #f58529,
              #feda77,
              #dd2a7b,
              #8134af,
              #515bd4
            );
          }
        }

        &.linkedin {
          &:hover {
            color: var(--whiteColor);
            background-color: #0072b1;
          }
        }
      }
    }
  }

  .footer {
    hr:nth-of-type(1) {
      margin-top: 50px;
    }

    .left-section {
      display: flex;
      align-items: center;
      gap: 10px;

      svg {
        font-size: var(--commonFontSize-2extraLarge);
      }

      .prev-title {
        position: relative;
        font-size: var(--commonFontSize-small);
        font-weight: 600;
        text-decoration: none;
        color: var(--textColor);
        display: inline-block;
        cursor: pointer;

        &::before {
          content: "";
          position: absolute;
          left: 50%;
          bottom: -2px;
          width: 0;
          height: 2px;
          background-color: var(--blackColor);
          transition: all 0.3s ease-in-out;
          transform: translateX(-50%);
        }

        &:hover::before {
          width: 100%;
          left: 0;
          transform: translateX(0);
        }
      }
    }

    .blog-list {
      cursor: pointer;

      &:hover {
        color: var(--themeColor);
      }
    }

    .right-section {
      display: flex;
      align-items: center;
      gap: 10px;
      text-align: end;

      svg {
        font-size: var(--commonFontSize-2extraLarge);
      }

      .next-title {
        position: relative;
        font-size: var(--commonFontSize-small);
        font-weight: 600;
        text-decoration: none;
        color: var(--textColor);
        display: inline-block;
        cursor: pointer;

        &::before {
          content: "";
          position: absolute;
          left: 50%;
          bottom: -2px;
          width: 0;
          height: 2px;
          background-color: var(--blackColor);
          transition: all 0.3s ease-in-out;
          transform: translateX(-50%);
        }

        &:hover::before {
          width: 100%;
          left: 0;
          transform: translateX(0);
        }
      }
    }
  }
}

.service-detail {
  padding-top: 0;
}

.container {
  .related-post {
    width: 100%;
    text-align: center;
    font-size: var(--commonFontSize-2extraLarge);
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .card {
    background-color: var(--whiteColor);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    border: none;

    &:hover {
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

    .card-image {
      background-color: var(--lightColor);
      position: relative;

      .tag {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: var(--textColor);
        color: var(--whiteColor);
        padding: 5px 10px;
        font-size: var(--commonFontSize-extraSmall);
        border-radius: 3px;
      }
    }

    .card-content {
      padding: 15px;

      .date {
        font-size: var(--commonFontSize-extraSmall);
        color: var(--bodyColor);
        margin-bottom: 5px;
      }

      .title {
        font-size: var(--commonFontSize);
        font-weight: 600;
        margin-bottom: 10px;
      }

      .description {
        font-size: var(--commonFontSize-small);
        color: var(--textColor-medium);
        margin-bottom: 10px;
        max-height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .author {
        font-size: var(--commonFontSize-extraSmall);
        color: var(--textColor-light);
        margin-bottom: 10px;
      }

      .interactions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: var(--commonFontSize-small);
        color: var(--textColor-light);

        .likes,
        .comments {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

//Blog Detail
.sidebar {
  position: sticky;
  top: 50px;
  padding: 0 20px;
  background: var(--whiteColor);
  border-radius: 5px;

  .learn_more {
    .cta {
      text-align: center;
      padding: 50px 20px;
      background-color: #fff;
      background-color: #fff;
      border: 1px solid #ccc;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      margin-bottom: 50px;
      border-radius: 5px;

      &__preheading {
        font-size: var(--commonFontSize-medium);
        letter-spacing: 1px;
        color: #4e5a65;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      &__heading {
        font-size: var(--commonFontSize-breadcomes);
        font-weight: 400;
        line-height: 1.2;
        color: #2d3e50;
        margin-bottom: 20px;
      }

      &__description {
        font-size: var(--commonFontSize);
        color: #2d3e50;
        margin-bottom: 30px;
      }

      &__button {
        padding: 15px 30px;
        background-color: var(--themeColor);
        color: #fff;
        font-size: var(--commonFontSize-medium);
        font-weight: bold;
        text-transform: uppercase;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: var(--darkButtonHoverBgColor);
        }
      }
    }
  }

  .ad {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
    border-radius: 5px;
  }

  .search-posts {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;

    .input-label {
      font-size: var(--commonFontSize-medium);
      font-weight: 600;
      margin-bottom: 12px;
      color: var(--blackColor);
    }

    .search-bar {
      display: flex;

      input {
        width: 100%;
        flex: 1;
        padding: 10px;
        border: 1px solid var(--borderColor);
        border-radius: 5px 0 0 5px;
        font-size: var(--commonFontSize-small);
      }

      button {
        padding: 10px;
        background-color: var(--themeColor);
        border: none;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        color: var(--whiteColor);
        display: flex;
        align-items: center;

        svg {
          font-size: var(--commonFontSize-large);
        }
      }
    }

    hr {
      margin-top: 30px;
      border-width: 1.8px;
      margin-bottom: 10px;
    }
  }

  .about-us {
    margin-bottom: 20px;

    h3 {
      margin-bottom: 10px;
      font-size: var(--commonFontSize);
      font-weight: bold;
      color: var(--blackColor);
    }

    p {
      font-size: var(--commonFontSize-small);
      color: var(--textColor-medium);
    }

    hr {
      margin-top: 30px;
      border-width: 1.8px;
    }
  }

  .blog-categories {
    margin-bottom: 20px;

    h3 {
      margin-top: 30px;
      margin-bottom: 10px;
      font-size: var(--commonFontSize);
      font-weight: bold;
      width: 100%;
      color: var(--blackColor);
    }

    ul {
      margin-top: 20px;
      list-style: none;
      padding: 0;

      li {
        font-size: var(--commonFontSize-small);
        color: var(--textColor-medium);
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100px;

        span:nth-of-type(1) {
          min-width: 130px;
          cursor: pointer;

          &:hover {
            color: var(--themeColor);
          }
        }
      }
    }

    hr {
      margin-top: 30px;
    }
  }

  .blog-slider {
    width: 100%;
  }

  .blog-comments {
    margin-top: 20px;

    .input-label {
      font-size: var(--commonFontSize);
      font-weight: bold;
      color: var(--blackColor);
    }

    p {
      margin: 15px 0;
      font-size: var(--commonFontSize-small);
    }

    hr {
      margin-top: 20px;
    }
  }

  .blog-tags {
    .input-label {
      font-size: var(--commonFontSize-medium);
      font-weight: 600;
      margin-bottom: 12px;
      margin-top: 10px;
      color: var(--blackColor);
    }

    .tags-button {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;

      .tag-button {
        background-color: var(--whiteColor);
        color: var(--textColor);
        border: 1px solid var(--blackColor);
        font-size: var(--commonFontSize-2extraSmall);
        padding: 5px 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          border-color: var(--themeColor);
          color: var(--themeColor);
        }
      }
    }
  }
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .pagination-arrow {
    border: none;
    background: none;
    font-size: var(--commonFontSize);
    cursor: pointer;
    color: #b0b0b0;

    &:disabled {
      cursor: not-allowed;
      color: #e0e0e0;
    }
  }

  .pagination-number {
    border: none;
    background: none;
    margin: 0 10px;
    padding: 5px 14px;
    font-size: var(--commonFontSize);
    cursor: pointer;
    color: #b0b0b0;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    border: 1px solid transparent;

    &.active {
      color: var(--blackColor);
      font-weight: bold;
      border: 1px solid var(--textColor-light);
      padding: 5px 14px;
      border-radius: 100%;
    }

    &:hover {
      border: 1px solid var(--themeColor);
      padding: 5px 14px;
      border-radius: 100%;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .about-us-section {
    .experts-section {
      .black-shape {
        width: 25% !important;
        border-radius: 20px;
        height: 55% !important;
        margin: auto;
      }

      .info-container {
        max-width: unset !important;

        .main-title {
          color: var(--whiteColor);
          font-size: 38px;
          width: 80%;
          text-align: center;
        }

        .watermark {
          color: #282828;
          font-size: 100px !important;
          text-align: center;
          left: 20%;
        }

        .watermark {
          top: -30% !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .blog-card {
    width: 100%;
  }

  .info-container {
    max-width: unset !important;

    .main-title {
      width: 100%;
      text-align: left;
    }
  }

  .blog-details .thumbnail-image ul {
    padding-left: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .sidebar {
    margin-top: 50px;
  }

  .blog-details .thumbnail-image ul {
    padding-left: 10px;
  }

  .order-one {
    order: 1;
    width: 70%;
  }

  .order-two {
    order: 2;
    width: 30%;
  }

  .order-three {
    order: 3;
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .sidebar {
    margin-top: 50px;
  }

  .blog-details .thumbnail-image ul {
    padding-left: 10px;
  }

  .order-one {
    width: 100%;
    padding: 10px 30px;
  }

  .order-two {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .container .card .card-content .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .container .card {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .blog-details .blog-title h1 {
    font-size: 20px;
  }

  .blog-details .author-name {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 85px;
  }

  .blog-details .post-date,
  .blog-details .read-time {
    font-size: 12px;
  }
}

// css for new blog page hero section
:root {
  --orange-50: #fff3e9;
  --orange-100: #ffe1c7;
  --orange-200: #ffc699;
  --orange-300: #ffa366;
  --orange-400: #fb7c33;
  --orange-600: #fa5703;
  --orange-700: #c04400;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-900: #111827;
}

.hero-section {
  position: relative;
  background: linear-gradient(
    135deg,
    var(--orange-50) 0%,
    var(--orange-100) 100%
  );
  padding: 40px 0 120px;
  overflow: hidden;
}
.blog-listing-sec {
  padding-top: 2rem;
}
.blog-hero-sec {
  padding: 60px 0;
  overflow: hidden;
  background: #e2eaed;
  position: relative;

  .background-shapes {
    position: absolute;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
    opacity: 0.7;

    .bg-circle-1,
    .bg-circle-2 {
      position: absolute;
      border-radius: 50%;
      opacity: 0.3;
    }

    .bg-circle-1 {
      top: -160px;
      right: -160px;
      width: 320px;
      height: 320px;
      background: rgb(183, 189, 200);
    }

    .bg-circle-2 {
      bottom: -128px;
      left: -128px;
      width: 256px;
      height: 256px;
      background: #b6b8b9;
      opacity: 0.25;
    }

    .bg-square-1,
    .bg-square-2 {
      position: absolute;
      transform: rotate(45deg);
      opacity: 0.25;
    }

    .bg-square-1 {
      top: 80px;
      left: 40px;
      width: 64px;
      height: 64px;
      background: #51b6de;
    }

    .bg-square-2 {
      bottom: 96px;
      right: 64px;
      width: 48px;
      height: 48px;
      background: #6271a9;
      transform: rotate(12deg);
    }

    .bg-svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .emoji {
    position: absolute;
    font-size: 48px;
    user-select: none;
    pointer-events: none;
    opacity: 0.1;

    &-1 {
      top: 80px;
      left: 272px;
      transform: rotate(-15deg);
    }

    &-2 {
      bottom: 80px;
      right: 240px;
      transform: rotate(10deg);
    }

    &-3 {
      top: 32px;
      right: 28%;
      transform: scale(1.2);
    }

    &-4 {
      bottom: 50px;
      left: 20%;
      transform: scale(0.9);
    }

    &-5 {
      top: 84%;
      left: 51%;
      transform: translate(-50%, -50%) rotate(-5deg);
    }

    @media (max-width: 1300px) {
      opacity: 0.1;

      &-1 {
        top: 48px;
        left: 176px;
        transform: rotate(7deg);
      }
    }

    @media (max-width: 900px) {
      opacity: 0.1;

      &-1 {
        top: 48px;
        left: 160px;
      }

      &-2 {
        bottom: 48px;
        right: 128px;
      }

      &-3 {
        top: 16px;
        right: 20%;
      }

      &-4 {
        bottom: 96px;
        left: 12%;
      }

      &-5 {
        top: 75%;
        left: 45%;
      }
    }

    @media (max-width: 768px) {
      opacity: 0.1;
      display: none;

      &-1 {
        top: 48px;
        left: 160px;
      }

      &-2 {
        bottom: 48px;
        right: 128px;
      }

      &-3 {
        top: 16px;
        right: 20%;
      }

      &-4 {
        bottom: 96px;
        left: 12%;
      }

      &-5 {
        top: 75%;
        left: 45%;
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .hero-content {
    padding-right: 10%;

    .hero-title {
      font-size: var(--commonFontSize-MainTitle);
      font-weight: bold;
      margin-bottom: 24px;

      color: var(--blackColor);

      .brand-text {
        color: var(--themeColor);
      }
    }

    .title-hero-description {
      font-size: 22px;
      color: var(--gray-700);
      font-weight: 500;

      @media (max-width: 768px) {
        margin-top: 1px !important;
      }
    }
  }
}
.blog-listing-sec {
  padding-top: 2rem;
}
h2,
h3,
h4,
h5,
h6 {
  scroll-margin-top: 100px;
}

.new-blogs-detail-main-content-centar {
  li {
    padding: 2px 5px;
    margin: 0px 11px 5px;
    line-height: 1.7;
    letter-spacing: 0.2px;
    font-size: 105%;
  }
}

.blog-sidebar-sticky {
  position: sticky;
  top: 7rem;
}

// new table sccss for blog detail page  used in form-monolith-to-microservisec-playbook blog

.comparison-table {
  width: 100%;
  max-width: 100%;
  /* No overflow beyond container */
  border-collapse: collapse;
  margin: 1rem auto;
  /* Centers inside container */
  font-size: 1rem;
  overflow-x: auto;
  display: table;
  /* Prevent block shift unless needed */
}

@media (max-width: 768px) {
  .comparison-table {
    display: block;
    /* Mobile: enable scroll */
  }
}

.comparison-table th,
.comparison-table td {
  border: 1px solid #ddd;
  padding: 12px 15px;
  text-align: left;
  word-break: break-word;
  /* Prevent text overflow */
}

.comparison-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Tablet & Mobile View */
@media (max-width: 768px) {
  .comparison-table thead {
    display: none;
  }

  .comparison-table {
    tbody,
    tr,
    td {
      display: block;
      width: 100%;
    }
  }

  .comparison-table {
    text-align: right;
    padding: 10px 10px 10px 50%;
    position: relative;
    font-size: 0.95rem;

    tr {
      margin-bottom: 1rem;
      border: 1px solid #ddd;
      border-radius: 8px;
      background: #fff;
      overflow: hidden;
    }

    td {
      &::before {
        content: attr(data-label);
        position: absolute;
        left: 12px;
        top: 10px;
        font-weight: bold;
        text-align: left;
        color: #333;
        white-space: nowrap;
      }
    }
  }
}

/* Extra Small Devices (≤ 400px) */
@media (max-width: 400px) {
  .comparison-table td {
    padding: 8px 8px 8px 45%;
    font-size: 0.85rem;
  }

  .comparison-table td::before {
    left: 8px;
    top: 8px;
    font-size: 0.8rem;
  }
}

.blog-faq {
  margin-top: 20px;

  .faq-header {
    display: none !important;
  }

  .faq-item {
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;

    .faq-question {
      background-color: #f9f9f9;
      padding: 15px;
      cursor: pointer;
      font-weight: bold;
      transition: background-color 0.3s;

      &:hover {
        background-color: #e9e9e9;
      }
    }

    .faq-answer {
      padding: 15px;
      display: none; // Initially hidden
    }
  }
}

// css for faq section take from servicepage
.blog-faq {
  .service-faq {
    width: 100%;
    padding: 20px 20px 45px;
    background-color: var(--whiteColor);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    .faq-grid {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 1px;

      .faq-left {
        position: static;

        .faq-card {
          width: 100%;
          margin-bottom: 20px;

          .faq-buttons {
            display: none;
          }

          .faq-answer {
            font-size: var(--commonFontSize-small);
            color: var(--textColor-medium);
          }

          .faq-card-desc {
            margin-bottom: 1rem !important;
          }
        }

        .faq-title-wrapper {
          margin-bottom: 1rem;

          .faq-title {
            font-size: 2rem;
            margin-bottom: 1rem;
            word-break: break-all;
          }

          .faq-underline {
            display: none;
          }
        }
      }
    }
  }
}

// css for table use in  blazor-united-vs-nextjs
.blog-content {
  width: 100%;
  .table {
    table {
      width: 100%;
      border-collapse: collapse;
      font-size: 0.95rem;
      margin: 15px 0px;

      th,
      td {
        border: 1px solid #ddd;
        padding: 7px 15px;
        text-align: left;
      }

      th {
        background-color: var(--orange-600);
        color: #fff;
        font-weight: 600;
      }

      tr {
        &:nth-child(even) {
          background-color: #f9fafb;
        }

        &:hover {
          background-color: #f1f5f9;
        }
      }
      ul {
        margin: 0;
        padding: 0;
        li {
          margin: 0 0 0 15px;
          padding: 0;
        }
      }
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.95rem;
    margin: 15px 0px;

    th,
    td {
      border: 1px solid #ddd;
      padding: 7px 15px;
      text-align: left;
    }

    th {
      background-color: var(--orange-600);
      color: #fff;
      font-weight: 600;
    }

    tr {
      &:nth-child(even) {
        background-color: #f9fafb;
      }

      &:hover {
        background-color: #f1f5f9;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        margin: 0 0 0 15px;
        padding: 0;
      }
    }
  }

  /* 📱 Mobile-first stacked card layout */
  @media (max-width: 768px) {
    .comparison-table-2 {
      thead {
        display: none;
        /* Hide table headers */
      }

      tbody {
        display: block;

        tr {
          display: block;
          margin-bottom: 15px;
          border: 1px solid #ddd;
          border-radius: 8px;
          overflow: hidden;
          background: #fff;
          padding: 10px 12px;

          td {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 8px 0;
            border: none;
            text-align: left;

            /* 1️⃣ Label */
            &::before {
              content: attr(data-label);
              font-weight: bold;

              margin-bottom: 4px;
              font-size: 0.85rem;
            }

            /* 2️⃣ Value */
            .value {
              font-size: 0.95rem;
              color: #111827;
              font-weight: 500;
            }

            /* 3️⃣ Optional description */
            .description {
              font-size: 0.8rem;
              color: #6b7280;
            }
          }
        }
      }
    }
  }
}

.modal-body img {
  max-width: 100%;
  height: auto;
}

// custom css for new blogs

.CSharpBlogPost ul {
  margin: 15px 0;
  padding-left: 25px;
}

.CSharpBlogPost ol li {
  padding-left: 5px;
}

.CSharpBlogPost ul li {
  list-style-type: disc;
}

.CSharpBlogPost ul li::marker {
  color: var(--theme-color);
}

.bold-text {
  font-weight: 400px;
}

.blog-details .blog-header-cors img {
  background-color: white;
}

.middleware-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 15px;

  .grid-card {
    background: #fff;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    }

    .title-text {
      margin-top: 0;
      color: #2c3e50;
      margin-bottom: 5px;
    }

    .description {
      margin: 0 0 5px;
    }

    .usage {
      background-color: #f1f1f1;
      padding: 5px 10px;
      font-family: monospace;
      border-radius: 6px;
      color: #34495e;
      font-size: 0.9rem;
    }
  }
}

.image-container-blog {
  width: 100%;
  aspect-ratio: 4 / 3; // or 16 / 9, or 1 / 1 for square
  overflow: hidden;
  border-radius: 8px;
  background-color: #eee;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover; // trims edges and fills space
  }
}

.package-name {
  background-color: #f0f0f0;
  font-weight: bold !important;
  margin: 0px 5px;
  padding: 0px 5px;
  font-size: 14px !important;
}

.package-name-light {
  background-color: #f0f0f0;
  margin: 0px 5px;
  padding: 2px 5px;
  font-size: 14px !important;
}

.blog-details {
  p {
    line-height: 1.7;
    letter-spacing: 0.2px;
    font-size: 105%;
    margin: 7px 0 5px 5px !important;
  }

  h3 {
    margin-top: 15px;
    margin-bottom: 12px;
    line-height: 1.3;
    text-transform: capitalize;
    color: var(--blackColor);

    span {
      // background: -webkit-linear-gradient(var(--theme-color), #bb3d16);
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      color: var(--theme-color);

      &.sub {
        color: var(--theme-color);
        font-weight: 600;
      }
    }
  }

  h4 {
    margin-top: 0;
    margin-bottom: 10px;
    position: relative;
    color: var(--blackColor);

    &.sub-point {
      text-transform: capitalize;
    }
  }

  h5 {
    margin: 20px 0 0 5px !important;
    color: var(--blackColor);
  }

  h6 {
    color: var(--blackColor);
  }

  .quote {
    background: #f3f4f6;
    padding: 10px;
    border-radius: 10px;
    font-style: italic;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  .quote-custom {
    background: #ffffff;
    padding: 40px 25px 50px;
    border-radius: 10px;
    font-style: italic;
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: 500;
    border-top: 5px solid var(--theme-color);
    font-size: 1.2rem;
    color: var(--theme-color);
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    &::before {
      content: "";
      position: absolute;
      width: 35px;
      height: 35px;
      background: url(../../assets/images/technology/Quote-l.webp);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      top: calc(100% - 40px);
      left: 15px;
      opacity: 0.2;
    }

    &::after {
      position: absolute;
      content: "";
      width: 35px;
      height: 35px;
      background: url(../../assets/images/technology/Quote.webp);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      bottom: calc(100% - 40px);
      right: 15px;
      opacity: 0.2;
    }

    span {
      color: var(--blackColor);
      font-size: 1rem;
    }
  }

  .blog-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.blog-details-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600 !important;
  }
  h3 {
    position: relative;
    padding-left: 35px;
    margin-top: 1.25rem !important;

    &::before {
      content: "";
      /* replace with icon content */
      position: absolute;
      left: 0;
      top: 0;
      width: 33px;
      height: 33px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='%2345413c' d='M14.22 45.27a9.78 1.73 0 1 0 19.56 0a9.78 1.73 0 1 0-19.56 0' opacity='0.15'/%3E%3Cpath fill='%23c0dceb' d='m30.49 33.504l-5.302 2.226a.58.58 0 0 1-.76-.31l-2.67-6.362l6.36-2.671l2.68 6.38a.58.58 0 0 1-.308.737'/%3E%3Cpath fill='%23e8f4fa' d='m21.76 29.06l2.67 6.37zm9.04 3.7l-2.68-6.37l-2 .83l2.71 6.44a.5.5 0 0 1-.26.64l1.88-.79a.58.58 0 0 0 .35-.75'/%3E%3Cpath fill='none' stroke='%2345413c' stroke-linecap='round' stroke-linejoin='round' d='m30.49 33.504l-5.302 2.226a.58.58 0 0 1-.76-.31l-2.67-6.362h0l6.36-2.671h0l2.68 6.38a.58.58 0 0 1-.308.737' stroke-width='2'/%3E%3Cpath fill='%23e8f4fa' d='M33.22 40.29a6.85 6.85 0 0 0-.7 4.22l-.91.38a6.8 6.8 0 0 0-3.25-2.35A2 2 0 0 1 27 41.43a9.5 9.5 0 0 1-.52-1.66l-.87-4.19l4.55-1.91l2.39 3.55a10 10 0 0 1 .8 1.5a1.85 1.85 0 0 1-.13 1.57'/%3E%3Cpath fill='%23fff' d='M33.3 38.72a10 10 0 0 0-.8-1.5l-2.39-3.55l-1.83.77l2.34 3.49a8.3 8.3 0 0 1 .81 1.5a1.9 1.9 0 0 1-.09 1.57a7.3 7.3 0 0 0-.77 2.79a6.4 6.4 0 0 1 1 1.1l.91-.38a6.85 6.85 0 0 1 .7-4.22a1.85 1.85 0 0 0 .12-1.57'/%3E%3Cpath fill='none' stroke='%2345413c' stroke-linecap='round' stroke-linejoin='round' d='M33.22 40.29a6.85 6.85 0 0 0-.7 4.22l-.91.38a6.8 6.8 0 0 0-3.25-2.35A2 2 0 0 1 27 41.43a9.5 9.5 0 0 1-.52-1.66l-.87-4.19l4.55-1.91l2.39 3.55a10 10 0 0 1 .8 1.5a1.85 1.85 0 0 1-.13 1.57m-1.15 4.41l-2.23-5.3' stroke-width='2'/%3E%3Cpath fill='%2345413c' d='M28.78 39.84a1.15 1.15 0 1 1 1.51.62a1.15 1.15 0 0 1-1.51-.62'/%3E%3Cpath fill='%2387898c' d='m28.74 24.88l-7.8-18.56a4.6 4.6 0 1 0-8.48 3.57l7.79 18.56a1.15 1.15 0 0 0 1.51.61l6.36-2.67a1.16 1.16 0 0 0 .62-1.51'/%3E%3Cpath fill='%23bdbec0' d='m12.46 9.88l7.79 18.57zm16.28 15l-7.8-18.56a4.6 4.6 0 0 0-6-2.46a4.5 4.5 0 0 0-.53.29a3.4 3.4 0 0 1 3.87 2l8.38 20a.85.85 0 0 1-.46 1.11l-3.07 1.3l5-2.11a1.16 1.16 0 0 0 .61-1.57'/%3E%3Cpath fill='none' stroke='%2345413c' stroke-linecap='round' stroke-linejoin='round' d='m28.74 24.88l-7.8-18.56a4.6 4.6 0 1 0-8.48 3.57l7.79 18.56a1.15 1.15 0 0 0 1.51.61l6.36-2.67a1.16 1.16 0 0 0 .62-1.51m1.92 6.06l-7.43 3.12' stroke-width='2'/%3E%3Cpath fill='%23daedf7' stroke='%2345413c' stroke-linecap='round' stroke-linejoin='round' d='M16.53 10.67a1.15 1.15 0 1 1 2.12-.89l4 9.55a1.15 1.15 0 0 1-2.12.89Z' stroke-width='2'/%3E%3C/svg%3E");
      // background-color: var(--theme-color);
      background-repeat: no-repeat;
      background-position: center;
      -webkit-mask-image: var(--svg);
      mask-image: var(--svg);
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: 100% 100%;
      mask-size: 100% 100%;
    }
 }
  h4 {
    position: relative;
    padding-left: 15px;
    font-size: 1.3rem;
    margin-top: 0.7rem !important;
    margin-bottom: 0 !important;
    margin-left: 5px;

    &::before {
      content: "";
      position: absolute;
      left: -6px;
      top: 2px;
      width: 20px;
      height: 20px;
      --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23000' d='m15.06 5.283l5.657 5.657a1.5 1.5 0 0 1 0 2.12l-5.656 5.658a1.5 1.5 0 0 1-2.122-2.122l3.096-3.096H4.5a1.5 1.5 0 0 1 0-3h11.535L12.94 7.404a1.5 1.5 0 0 1 2.122-2.121Z' stroke-width='0.5' stroke='%23000'/%3E%3C/g%3E%3C/svg%3E");
      background-color: var(--theme-color);
      -webkit-mask-image: var(--svg);
      mask-image: var(--svg);
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: 100% 100%;
      mask-size: 100% 100%;
    }
  }

  h5 {
    font-size: 1.1rem;
    margin-bottom: 12px;
    &.pl-5{
      margin-left: 0 !important;
    }
  }
  a {
    color: var(--theme-color);
  }
  ul {
    margin-left: 7px;
  }

  pre {
    background: #1f2937;
    padding: 20px;
    border-radius: 10px;
    code {
      color: #e5e7eb;
    }
  }
}

.blog-faq {
  h3,
  h4 {
    padding-left: 0;

    &::before {
      display: none;
    }
  }
}

.highlight {
  color: var(--theme-color);
}

.highlight-strong {
  color: var(--theme-color);
  font-weight: 600;
}

.blog-detail-sub-title {
  padding-left: 10px;
}

.separate-cta {
  margin-top: 25px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background: linear-gradient(180deg, #f9580045, rgb(255 255 255 / 43%));
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  align-items: center;
  justify-items: center;
  text-align: center;
  margin-bottom: 40px;

  .icon-sec {
    display: none;
    align-items: center;
    justify-content: center;
  }

  .desc-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.15rem;
    font-weight: 600;

    p {
      margin-bottom: 15px;
      color: var(--blackColor);
    }

    .button-sec {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      .service-btn {
        padding: 10px 20px;
        box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.175);
        text-align: center;
        color: #ffffff;
        background-color: var(--themeColor);
        transition: 0.5s all;

        &:hover {
          background-color: #15213b;
          color: #ffffff;
          box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
        }

        span {
          margin-right: 5px;
        }
      }
    }
  }

  /* Desktop layout */
  @media (min-width: 992px) {
    grid-template-columns: 1fr;
    /* still single column since icon is hidden */
    text-align: center;

    .desc-sec {
      flex-direction: column;
      align-items: center;
      text-align: center;

      .button-sec {
        flex-direction: row;
        /* horizontal button on large screens */
      }
    }
  }
}

.custom-card-sec {
  .card-view {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;

    h5 {
      font-weight: 600;
      margin-top: 0;

      .iconify {
        margin-right: 5px;
      }
    }

    p {
      .highlight {
        color: var(--blackColor);
      }
    }
  }
}

.insight-box {
  background: var(--themeColorLight);
  border: 1px solid var(--themeColorLight);
  border-radius: 1rem;
  padding: 10px 35px 10px 15px;
  box-shadow: 0 1px 28px -14px rgb(0 0 0 / 50%);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  border-left: 5px solid var(--themeColor);
  overflow: hidden;
  margin-bottom: 25px !important;
  .icon-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0px;
    right: 0px;
    .component-iconify {
      color: var(--themeColor);
    }
  }

  .insight-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--themeColor);
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 0.2rem;

    .insight-dot {
      width: 8px;
      height: 8px;
      background-color: var(--themeColor);
      border-radius: 50%;
      display: inline-block;
    }

    strong {
      font-weight: 700;
    }
  }

  .insight-text {
    color: var(--blackColor);
    padding-left: 0.5rem;
    font-weight: 600;
  }
  ul {
    margin: 0;
    padding-left: 15px;
    li {
      // font-weight: 600;
      &:last-child {
        margin-bottom: 0;
      }
      strong {
        color: var(--themeColor);
      }
    }
  }
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.custom-heading {
  font-family: var(--font-family-2);

  font-weight: 600;
  color: var(--blackColor);

  background-color: var(--themeColorLight);
  border-radius: 5px;

  display: block;

  padding: 10px 20px;

  margin: 0 0 15px;

  border-left: 6px solid var(--theme-color);

  text-align: left;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

@media (max-width: 768px) {
  .custom-heading {
    padding: 8px 15px;
    border-left-width: 4px;
    margin-bottom: 10px;
  }
}
.pl-5 {
  margin-left: 1.25rem !important;
}
