.why-choose-section {
  padding: 5rem 0;
  background-color: #f5f5f5;

  .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .section-heading {
    text-align: center;
    margin-bottom: 4rem;

    h2 {
    font-size: var(--commonFontSize-MainTitle);
      font-weight: bold;
      color: #1f2937;
      text-transform: capitalize;

      span {
        color: var(--themeColor);
      }
    }

    p {
      font-size: 1.125rem;
      color: #6b7280;
      max-width: 700px;
      margin: 1rem auto 0;
    }
  }

  .reasons-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;

    .reason-card {
      text-align: center;
      animation: scale-in 0.5s ease forwards;
      transition: all 0.3s;
      background: var(--whiteColor);
      border-radius: 15px;
      position: relative;
      margin-bottom: 25px;
      padding: 15px;
      &:hover {
        box-shadow: 5px 0px 39px 0px rgba(0, 0, 0, 0.137);
      }
      .icon-box {
        width: 80px;
        height: 80px;
        background: #ffe6dd;
        border-radius: 1rem;
        margin: -50px auto 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;

        .icon {
          font-size: 2.5rem;
          color: var(--themeColor);
          transition: color 0.3s;
        }
      }

      h3 {
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 1rem;
        color: #1f2937;
        transition: color 0.3s;
      }

      p {
        color: #6b7280;
        line-height: 1.6;
      }

      &:hover {
        .icon-box {
          background: var(--themeColor);
          transform: scale(1.1);

          .icon {
            color: #fff;
          }
        }

        h3 {
          color: var(--themeColor);
        }
      }
    }
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
