.ts-where-section {
  padding: 4rem 0;
  @media (max-width: 1200px) {
    padding: 4rem 0 1rem;
  }
  .container {
    margin: 0 auto;
    padding: 0 1rem;
    z-index: 2;
    position: relative;
    @media (min-width: 576px) {
      max-width: 540px;
    }
    @media (min-width: 768px) {
      max-width: 720px;
    }
    @media (min-width: 992px) {
      max-width: 960px;
    }
    @media (min-width: 1200px) {
      max-width: 1140px;
    }
    @media (min-width: 1400px) {
      max-width: 1320px;
    }
    .where-grid {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 0;
      align-items: center;
      position: relative;
      @media (max-width: 1200px) {
        grid-template-columns: 1fr;
      }
      .content-desc {
        text-align: left;
        background: #fff0ed;
        padding: 20px 17% 20px 20px;
        @media (max-width: 1200px) {
          padding: 20px 20px 70px 20px;
        }
        .top-title-desc {
          .content-title {
            font-size: var(--commonFontSize-MainTitle);
            font-weight: 700;
            color: #1f2937;
            margin-bottom: 1.5rem;
            line-height: 1.25;
          }

          .content-description {
            font-size: 1.15rem;
            color: #343434;
            line-height: 1.5;
            &:last-child {
              margin-bottom: 25px;
            }
          }
        }
        .bottom-listing {
          ul {
            margin-top: 15px;
            list-style-type: none;
            li {
              position: relative;
              margin-bottom: 20px;
              &:last-child {
                margin-bottom: 0;
              }
              &:before {
                content: "💡";
                position: absolute;
                top: -4px;
                left: -35px;
                font-size: 25px;
              }
              span {
                font-size: var(--commonFontSize-large);
                font-weight: 700;
                color: #1f2937;
                line-height: var(--commonFontSize-extraLarge);
              }
              p {
                margin: 0;
                font-size: 1rem;
                color: #343434;
                margin-bottom: 0;
                line-height: 1.5;
              }
            }
          }
        }
        .bottom-description {
          font-size: 1.15rem;
          color: #000000;
          line-height: 1.5;
        }
      }
      .right-img-part {
        width: 100%;
        height: 100%;

        .img-sec {
          width: 530px;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          @media (max-width: 1200px) {
            width: 70%;
            position: relative;
            margin: 0 auto;
            top: -50px;
            transform: unset;
          }
          img {
            height: auto;
            max-width: 100%;
          }
        }
      }
    }
  }
}
