.common-top-space {
    padding-top: 115px;
    padding-bottom: 20px;
    background: url(../../assets/images/main-bg.webp);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

    .img-sec-top {
        padding-top: 10px;
        margin-bottom: -60px;
    }

    .career-card {
        background-color: var(--whiteColor);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 20px;
        margin: 40px 0px;
        border-radius: 10px;

        h4 {
            color: var(--blackColor);
            font-size: var(--commonFontSize-large);
            font-weight: 600;
        }

        .office-chair {
            font-size: var(--commonFontSize-Title) !important;
        }

        .component-iconify {
            svg {
                //   width: 59px !important;
                font-size: var(--commonFontSize-buttonicon) !important;
                color: var(--themeColor);
            }
        }
    }

    .career-right-sec {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .right-sec-content {
            width: 80%;
            margin-left: auto;

            @media only screen and (max-width: 1200px) {
                margin-left: 0;
                width: 100%;
            }

            h3 {
                font-size: var(--commonFontSize);
                color: var(--blackColor);
            }

            .section-title {
                font-size: var(--section-titleFontSize);
                color: var(--blackColor);
                font-weight: 600;
                margin: 20px 0;
                // text-align: center;

                span {
                    color: var(--themeColor);
                }
            }
        }
    }
}