.design-process {
  background: #fafafa;
  padding: 60px 20px;
  text-align: center;

  @media (max-width: 1200px) {
    padding: 30px 20px;
  }

  .process-title {
    .service-title {
      color: var(--themeColor);
      font-size: var(--commonFontSize-MainTitle);
      font-weight: 600;
      line-height: 22px;
      @media (max-width: 768px) {
        line-height: 35px;
        margin-top: 0;
      }
      margin-top: 15px;
      text-align: center;
      margin-bottom: 20px;
    }

    .service-sub-title {
      font-size: 1.5rem;
      @media (max-width: 768px) {
        font-size: 1rem;
      }
      font-weight: 600;
      margin: 8px auto 4px;
      color: var(--blackColor);
      text-align: center;
      margin: 0 auto;
    }

    .process-description {
      margin-top: 1rem;
      font-size: 1.125rem;
      color: #6b7280;
      margin-bottom: 2rem;
      max-width: 70%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      @media (max-width: 768px) {
        max-width: 100%;
      }
    }
  }

  .steps-wrapper {
    position: relative;
    margin: 0 auto 40px auto;

    .steps-container {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      position: relative;
      z-index: 2;

      .step {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        cursor: pointer;
        transition: all 0.3s ease;

        .icon-wrapper {
          background: #ebebeb;
          padding: 15px;
          border-radius: 12px;
          font-size: 24px;
          color: #333;
          z-index: 2;
          transition: 0.3s;
          max-height: 60px;

          svg {
            width: 30px;
            height: 30px;
          }
        }

        .step-title {
          margin-top: 8px;
          font-size: 0.9rem;
          color: #333;
          font-weight: 500;
          user-select: none;
        }

        &.active .icon-wrapper {
          background: var(--themeColor);
          color: #fff;
        }

        &.completed .icon-wrapper {
          background: #ffe7e0;
          color: #ef5323;
        }
      }
    }

    .progress-line {
      position: absolute;
      top: 30px;
      left: 0;
      right: 0;
      height: 3px;
      background: #ddd;
      z-index: 1;
      max-width: 85%;
      margin: 0 auto;

      .progress-filled {
        height: 3px;
        background-color: var(--themeColor);
        transition: width 0.3s ease;
      }
    }
  }

  .step-description {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;

    h3 {
      font-weight: 600;
      margin-bottom: 15px;
      color: var(--themeColor);
      width: fit-content;

      span {
        font-size: 1.5rem;

        &:nth-child(1) {
          color: var(--themeColor);
        }

        &:nth-child(2) {
          border-bottom: 2px solid var(--themeColor);
          margin-left: 10px;
          color: unset;
        }
      }
    }

    p {
      font-size: 18px;
      color: #555;
      line-height: 1.6;
    }

    span {
      font-size: 15px;
      color: #555;
      line-height: 1.6;
      margin-bottom: 10px;
    }
    .phases-happens {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10m;
      @media (max-width: 991px) {
        grid-template-columns: 1fr;
      }
      .phase-part {
        padding: 0 15px;
      }
      .what-happens-part {
        padding: 0 15px;
      }
    }
    .label {
      color: #101828;
      font-weight: 700;
      font-size: 1.2rem;
    }
    .desc {
      color: #101828;
      font-size: 1rem;
    }
  }

  @media (max-width: 768px) {
    .steps-wrapper {
      overflow-y: auto;

      .steps-container {
        min-width: 1100px;
      }

      .progress-line {
        min-width: 900px;
        left: 100px;
      }
    }
  }
}
