.cash-study-sec {
  padding: 0;
  background: url(../../../assets/images/case-study-shap.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
  padding: 200px 0 30px;
  margin: 30px 0 0;

  @media only screen and (max-width: 1024px) {
    padding: 75px 0 30px;
    margin: 0px 0 50px;
    background-size: 100% 105%;
  }

  @media only screen and (max-width: 991px) {
    padding: 0px;
    background: none;
    margin-top: 0;
    margin-bottom: 0;

    .cash-study {
      .title-left {
        .sub-title {
          color: var(--bodyColor) !important;
        }

        .title {
          span {
            color: var(--themeColor) !important;
          }
        }
      }
    }
  }

  .cash-study {
    z-index: 0;
    position: relative;

    .title-left {
      padding-left: 5%;
      margin-bottom: 30px;

      .sub-title {
        color: var(--whiteColor);
      }

      .title {
        span {
          color: var(--whiteColor);
        }
      }
    }

    .desc-part {
      padding: 0 10%;

      .overlay {
        h3 {
          font-size: 36px;
          font-weight: 500;
          color: var(--whiteColor);
          text-align: left;
        }

        p {
          color: var(--whiteColor);
          font-size: 20px;
          line-height: 32px;
          margin-bottom: 32px;
          opacity: 0.8;
        }
      }
    }

    .image-placeholder {
      position: relative;

      img {
        top: -190px;
        right: 0;
        position: absolute;
      }
    }
  }
}
.case-study-slider {
  .slide-content {
    .desc-part {
      padding: 0 10%;

      @media only screen and (max-width: 1024px) {
        padding: 0 0 0 15px;
      }
      @media only screen and (max-width: 991px) {
        max-width: 85%;
        margin: 0 auto;
      }
      @media only screen and (max-width: 767px) {
        max-width: 95%;
      }
      .overlay {
        h3 {
          font-size: 36px;
          font-weight: 500;
          color: var(--whiteColor);
          text-align: left;

          @media only screen and (max-width: 991px) {
            color: #1a1a1a;
          }
          @media only screen and (max-width: 991px) {
            font-size: 22px;
            margin-bottom: 0;
            margin-top: 10px;
          }
        }

        p {
          color: var(--whiteColor);
          font-size: 20px;
          line-height: 32px;
          margin-bottom: 32px;
          opacity: 0.8;
          display: -webkit-box;
          max-width: 100%;
          -webkit-line-clamp: 6;
          -webkit-box-orient: vertical;
          overflow: hidden;

          @media only screen and (max-width: 991px) {
            color: var(--bodyColor);
            font-size: 15px;
            line-height: inherit;
          }
        }
      }
    }

    .image-placeholder {
      position: relative;
      width: 100%;

      img {
        top: -230px;
        right: 50px;
        position: absolute;

        @media only screen and (max-width: 1280px) {
          object-fit: contain;
        }

        @media only screen and (max-width: 1024px) {
          right: 0;
          top: -40px;
        }
      }
      @media only screen and (max-width: 991px) {
        position: unset;
        text-align: center;
        img {
          max-height: 350px;
          margin: 0 auto;
          position: unset;
        }
      }
    }
  }
  .embla {
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%; // mobile: 1 slide
    min-width: 0;
  }

  @media (min-width: 991px) {
    .embla__slide {
      flex: 0 0 100%; // tablet: 2 slides
    }
  }
  @media (min-width: 1024px) {
    .embla__slide {
      flex: 0 0 100%; // desktop: 3 slides
    }
  }
}
