.main-footer-sec {
  background-color: var(--blackColor);
  padding: 50px 0 0;
  z-index: 11;
  position: relative;

  .menu-title {
    color: var(--whiteColor);
    font-weight: 600;
    font-size: var(--commonFontSize-large);
    margin-bottom: 25px;
    text-transform: capitalize;
    @media only screen and (max-width: 767px) {
      margin-top: 20px;
      margin-bottom: 0px !important;
      font-size: var(--expert-content);
    }
  }
  .social-media-group {
    display: flex;
    justify-content: center;
    gap: 5px;
    @media only screen and (max-width: 1150px) {
      justify-content: center;
      margin-bottom: 15px;
    }
    .social-media-icons a{
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--bodyColor);
      height: 35px;
      width: 35px;
      border-radius: 100%;
      margin: 10px 7px;
      cursor: pointer;
      transition: 0.5s all;
      color: var(--whiteColor);

      a{
        line-height: 1;
      }

      .component-iconify {
        color: var(--whiteColor);

        svg {
          width: 20px !important;
          height: 20px !important;
        }
      }

    
    }
  }
  .facebook a{
    &:hover {
      color: var(--whiteColor);
      background-color: #c7d0db;
      background-color: var(--themeColor);
    }
  }

  .twitter a{
    &:hover {
      color: var(--whiteColor);
      // background-color: #1da1f2;
      background-color: var(--themeColor);
    }
  }

  .instagram a{
    &:hover {
      color: var(--whiteColor);
      background-color: var(--themeColor);
    }
  }

  .linkedin a{
    &:hover {
      color: var(--whiteColor);
      // background-color: #0072b1;
      background-color: var(--themeColor);
    }
  }
  
  .contact-list {
    .contact-menu {
      .contact-menu-item {
        display: flex;
        align-items: flex-start;
        margin-top: 10px;

        .component-iconify {
          margin-right: 10px;
          width: 25px !important;
          height: 25px !important;
          color: var(--footerTextColor);

          svg {
            width: 25px !important;
            height: 25px !important;
          }
        }

        span {
          transition: 0.5s all;
          color: var(--footerTextColor);

          &.address {
            &:hover {
              color: var(--footerTextColor);
            }
          }
        }

        .contact-info-desc {
          margin: 0px 0 5px;

          a {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
          }
        }

        &.multi-links {
          align-items: flex-start;

          .multi-line-desc {
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            div {
              display: flex;
              align-items: center;

              span {
                &.title {
                  font-weight: 600;
                  margin-left: 3px;
                  margin-right: 5px;
                  color: var(--themeDarkColor);
                  color: #979797;
                }
              }
            }
          }
        }

        span {
          &:hover {
            color: var(--themeColor);
          }
        }

        &.address-link {
          .multi-line-desc {
            span {
              color: #a3a3a3;
            }
          }
        }
      }
    }
  }

  .map-section {
    position: relative;

    // Country-map-animation style Start
    .country-map {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .all-country-point {
        position: relative;

        .country {
          cursor: pointer;
          position: absolute;
          content: "";
          display: block;
          background: var(--themeColor);
          height: 4px;
          width: 4px;
          border-radius: 100%;

          &::after {
            background-color: var(--themeColor);
            opacity: 0.8;
            position: absolute;
            width: 5px;
            height: 5px;
            border-radius: 100%;
            content: "";
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 0;
            animation: hotspot 1.5s infinite;
          }

          .country-name {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            color: var(--whiteColor);
            background-color: #f6f0f0;
            border-radius: 4px;
            padding: 0px 5px;
            margin-left: 4px;
            margin-top: -22px !important;
            font-size: 12px;
            color: var(--themeColor);

            &:before {
              content: "";
              position: absolute;
              width: 0;
              height: 0;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-top: 10px solid #f6f0f0;
              bottom: -1px;
              left: -3px;
              transform: rotate(155deg);
            }
          }

          &.india {
            left: 170px;
            top: 80px;
          }

          &.usa {
            left: 47px;
            top: 70px;
          }

          &.singapore {
            left: 190px;
            top: 90px;
          }

          &.switzerland {
            left: 125px;
            top: 62px;
          }

          &:hover {
            .country-name {
              opacity: 1;
            }
          }

          @media only screen and (max-width: 1280px) {
            &.india {
              left: 150px;
              top: 70px;
            }

            &.usa {
              left: 38px;
              top: 58px;
            }

            &.singapore {
              left: 167px;
              top: 80px;
            }

            &.switzerland {
              left: 112px;
              top: 58px;
            }
          }
          @media only screen and (max-width: 1100px) {
            &.india {
              left: 124px;
              top: 57px;
            }

            &.usa {
              left: 33px;
              top: 49px;
            }

            &.singapore {
              left: 137px;
              top: 63px;
            }

            &.switzerland {
              left: 91px;
              top: 47px;
            }
          }
        }
      }

      @keyframes hotspot {
        0% {
          width: 6px;
          height: 6px;
          opacity: 0.2;
        }

        100% {
          width: 12px;
          height: 12px;
          opacity: 0.6;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .bottom-footer {
    margin-top: 25px;
    background: var(--footerBBg);
    padding: 15px;
    width: 100%;

    .bottom-contain {
      display: flex;
      align-items: center;
      justify-content: center;

      .left-sec {
        span {
          margin-bottom: 0;
          color: var(--footerTextColor);
          a {
            color: var(--themeColor);
            padding: 0 5px;
          }
        }
      }
    }
  }

  .left-section{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    @media only screen and (max-width: 1150px) {
      justify-content: start;
    }
    .logo-section {
      margin-bottom: 15px;
    }
    .footer-info{
      display: flex;
      align-items: flex-start;
      gap: 10px;
      margin: 0 !important;
      color: var(--footerTextColor);
      margin-bottom: 10px !important;
      p{
        margin: 0 !important;
      }
      svg{
        font-size: 20px;
        margin-top: 3px;
      }
    }
  }

  .footer-top-section {
    .footer-info-section {
      .certificate-sec {
        display: flex;
        justify-content: center;
        img {
          max-width: 150px;
          height: auto;
          &:nth-child(even) {
            margin-left: 15px;
          }
        }
      }

      .footer-info {
        margin-top: 20px;

        span {
          color: var(--whiteColor);
          color: #aeaeae;
        }
      }

      .menu-items-sec {
        // padding-top: 15px;

        .footer-menu-list {
          margin-top: 15px;
          @media only screen and (max-width: 767px) {
            margin-top: 5px;
          }
          .footer-link {
            .link-item {
              margin-bottom: 5px;

              a {
                color: var(--footerTextColor);
                transition: 0.5s all;
              }

              &:hover {
                a {
                  color: var(--themeColor);
                  padding-left: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}


.get-in-touch-f {
 font-size: 1.5rem;
 font-weight: 600;
 text-transform: capitalize;
 color: var(--whiteColor); 
 text-align: center;
}