:root {
  // Colors
  --primary-color: #f85b05;
  --secondary-color: #feebe1;
  --text-color-dark: #212529;
  --theme-color-bg: #131313;
  --light-bg-color: #ffefe6;
  --thme-color-light: #feebe1;
  --body-text-color: #494949;
  --header-text-color: #1c1c1c;
  --section-bg-color: #f3f6fd;
  --white-color: #ffffff;
  --black-color: #000000;

  // Borders and shadows
  --border-color: #c7c7c7;
  --border-color-light: #494949;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.title-section {
  margin-bottom: 15px;
  .highlight-text {
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.25rem; 
  }
  .main-title {
    font-size: 3rem;
    line-height: 2.5rem;
    font-weight: bold;
    margin: 15px 0;
  }
  .description-text {
    font-size: 1rem;
  }
}
