.world-clock-section {
  padding: 2rem 0 3rem;
  background-color: #faf9f8;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  .main-title {
    font-size: var(--commonFontSize-MainTitle);
    color: #1c2540;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;

    .hightlight {
      color: var(--themeColor);
    }
  }

  .sub-title {
    font-size: 1.125rem;
    color: #6b7280;
    text-align: center;
    margin: 0 0 2rem;
  }

  .world-clock-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    justify-content: center;
  }

  .clock-card-container {
    background: #fff;
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.07);
    border-left: 3px solid #eaeaea;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    .city-title {
      margin: 0;
      font-size: 1rem;
      font-weight: 600;
      color: #1c2237;
      display: flex;
      gap: 10px;
      align-items: center;

      img {
        
      }
    }

    .clock-card {
      display: flex;
      gap: 1rem;
      align-items: center;
      min-height: 115px;

      .clock {
        position: relative;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background: #fff;
        border: 2px solid #eee;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
        flex-shrink: 0;

        .clock-face {
          position: relative;
          width: 100%;
          height: 100%;

          .number {
            position: absolute;
            font-size: 10px;
            color: #333;
            font-weight: 600;
          }

          .number-12 {
            top: 0px;
            left: 50%;
            transform: translateX(-50%);
            min-height: 15px;
            border-radius: 100%;
            min-width: 15px;
            background-color: #fff;
            display: flex;
            align-items: center;
            z-index: 9;
            justify-content: center;
          }

          .number-3 {
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
            min-height: 15px;
            border-radius: 100%;
            min-width: 15px;
            background-color: #fff;
            display: flex;
            align-items: center;
            z-index: 9;
            justify-content: center;
          }

          .number-6 {
            bottom: -0;
            left: 50%;
            transform: translateX(-50%);
            min-height: 15px;
            border-radius: 100%;
            min-width: 15px;
            background-color: #fff;
            display: flex;
            align-items: center;
            z-index: 9;
            justify-content: center;
          }

          .number-9 {
            left: 0px;
            top: 50%;
            transform: translateY(-50%);
            min-height: 15px;
            border-radius: 100%;
            min-width: 15px;
            background-color: #fff;
            display: flex;
            align-items: center;
            z-index: 9;
            justify-content: center;
          }

          .tick {
            position: absolute;
            width: 1px;
            height: 5px;
            background: #aaa;
            top: 3px;
            left: 50%;
            transform-origin: center 40px;
            opacity: 1 !important;
          }

          .hand {
            position: absolute;
            width: 50%;
            height: 2px;
            background: #333;
            top: 50%;
            left: 50%;
            transform-origin: left center;
          }

          .hour {
            height: 3px;
            background: #3d5afe;
            width: 30%;
          }

          .minute {
            background: #00c853;
            width: 35%;
          }

          .second {
            background: #ff5252;
            height: 1px;
            width: 40%;
          }

          .center-dot {
            position: absolute;
            width: 8px;
            height: 8px;
            background: #333;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .timezone {
          position: absolute;
          bottom: -24px;
          font-size: 0.7rem;
          color: #666;
          font-weight: 600;
        }
      }

      .clock-info {
        .address-box {
          margin-top: 0rem;
          font-size: 0.85rem;
          color: #555;
          line-height: 1.3;
          margin-bottom: 0;
          white-space: nowrap;
        }
        .icon-box {
          display: flex;
          gap: 10px;
          align-items: center;
          line-height: normal;
          margin-top: 0.4rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .world-clock-row {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .world-clock-row {
    grid-template-columns: 1fr;
  }
}
