.input-field {
  border: none;
  border: 1px solid var(--inputBorder) !important;
  border-radius: 7px !important;
  -webkit-border-radius: 7px !important;
  -moz-border-radius: 7px !important;
  -ms-border-radius: 7px !important;
  -o-border-radius: 7px !important;
  width: 100%;
  height: 37px;
  // box-shadow: none !important;
  padding: 0 15px;
  font-size: 83%;
  &:focus-visible,
  &:focus {
    box-shadow: none !important;
    border: 1px solid var(--darkColor) !important;
    outline-offset: 1px !important;
  }
  &:focus-visible {
    outline: none;
    border-color: var(--darkColor) !important;
  }
}


.validation-text {
  color: #e30000;
  font-size: var(--commonFontSize-small);
  font-weight: 500;
}

.validation-star{
  color: #e30000;
  margin-left: 3px;
}

.checkbox-label-part{
  .validation-star{
    display: none;
  }
}