.about-us-section {
  overflow-x: hidden !important;
  position: relative;
  padding-bottom: 10px;

  .about-top-title-sec {
    padding: 100px 0;
    display: flex;
    align-items: center;
    position: relative;

    .about-top-hero {
      position: absolute;
      inset: 0;
      z-index: 0;
    }

    .about-top-hero-overlay {
      position: absolute;
      inset: 0;
      background-color: #081236de;
      z-index: 0;
    }

    .left-desc-sec {
      display: flex;
      align-items: center;
      height: 100%;
      z-index: 1;
      position: relative;

      .title-center {
        max-width: 70%;
        margin: 0 auto;

        .sub-title {
          color: var(--whiteColor);
          opacity: 0.6;
        }

        .title {
          font-size: 40px;
          color: var(--whiteColor);
        }
      }
    }
  }

  .counter-section {
    margin: 100px 0;
    position: relative;

    &:after {
      position: absolute;
      right: 0;
      top: -90px;
      content: "";
      z-index: -1;
      width: 400px;
      height: 350px;
      background: url(../../assets/images/dot_left_pattern.svg) no-repeat center;
      background-size: contain;
    }

    .title-center {
      text-align: center;
      margin-bottom: 30px;
    }

    .counters {
      display: flex;
      justify-content: space-between;
      @media (max-width: 991px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        justify-items: center; /* only horizontal */
        align-items: center;

        .count-number-part {
          &:last-child {
            grid-column: 1 / -1;
            justify-self: center;
          }
        }
      }
      @media (max-width: 450px) {
        grid-template-columns: 1fr;
      }

      .counter {
        text-align: center;
        position: relative;

        span {
          font-size: var(--counter-Font);
          font-weight: 600;
          color: var(--blackColor);
        }

        h2 {
          font-size: 36px;
          color: var(--blackColor);
        }

        .plus {
          font-size: 36px;
          position: absolute;
          transform: translate(10%, 40%);
        }

        .counter-label {
          margin-top: -10px;
          font-size: var(--commonFontSize-large);
          color: var(--blackColor);
          text-align: center;
        }
      }
    }
  }

  .testimonial-section {
    display: none;
    position: relative;
    padding: 50px 0 0;
    margin-bottom: 100px;

    .testimonial-bg {
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
      width: 75%;
      height: 100%;
    }

    .info-container {
      padding: 65px 0 0 0;
      margin: 80px 0 0 0;

      .cta-button {
        display: none;
      }
    }

    .testimonial-image {
      position: relative;
      margin-top: 90px;

      img {
        max-width: 75%;
      }

      .quote {
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translateY(-50%);

        img {
          width: 100%;
        }
      }
    }

    .info-container {
      padding: 0;
      margin: 100px 0 0;

      .cta-button {
        display: none;
      }
    }

    .testimonial {
      text-align: left;
      padding: 10px;
      margin-top: -15px;

      .testimonial-message {
        font-size: 1.2rem;
        margin-bottom: 15px;
        color: #333;
      }

      .testimonial-info {
        .testimonial-name {
          font-size: var(--commonFontSize-extraLarge);
          color: var(--blackColor);
          margin-top: 10px;
        }
      }
    }

    
  }

  .left-desc-sect {
    .icon-desc-sec {
      margin-top: 35px;

      .small-boxes {
        display: flex;
        align-items: flex-start;

        .left-icon {
          min-width: 60px;
          min-height: 60px;
          max-width: 60px;
          max-height: 60px;
          background: var(--themeColor2light);
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          .component-iconify {
            svg {
              height: 30px !important;
              width: 30px !important;
              color: var(--themeColor2);
            }
          }
        }

        .right-short-desc {
          padding-left: 15px;
          color: var(--blackColor);

          h4 {
            font-weight: 600;
            margin-bottom: 5px;
          }
        }
      }
    }
  }

  .right-img-sec {
    position: relative;

    &::after {
      position: absolute;
      right: -150px;
      top: -120px;
      z-index: -1;
      content: "";
      margin: auto;
      width: 680px;
      height: 600px;
      background: url(../../assets/images/dot_center_pattern.svg) no-repeat
        center;
      background-size: contain;
    }

    img {
      border-radius: 12% 0 0 12%;
    }

    .about-bottom-sec {
      background: var(--whiteColor);
      border-radius: 100px 0 0 100px;
      position: absolute;
      width: 80%;
      padding: 25px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
      bottom: -50px;
      right: 0;
      font-weight: 600;
      font-size: 20px;

      span {
        color: var(--themeColor2);
        font-weight: 900;
      }
    }
  }

  .about-first-sec {
    margin-top: 100px;
  }

  .about-second-sec {
    margin-top: 120px;

    .right-img-sec {
      padding-left: 60px;
      padding-top: 30px;

      .small-img {
        max-width: 45%;
        position: absolute;
        bottom: -60px;
        left: 0px;
        border-radius: 300px 0 300px 300px;
      }

      img {
        &.big-img {
          border-radius: 0 345px 345px 0;
        }
      }

      &:after {
        right: -110px;
        top: -55px;
      }
    }

    .top-left {
      padding: 15px 20px;
      display: flex;
      align-items: center;
      top: 0;
      right: unset;
      left: 0px;
      bottom: unset;
      border-radius: 100px;
      width: 205px;
      box-shadow: 0px 0px 10px 2px rgba(30, 104, 178, 0.1);
      color: var(--blackColor);
      line-height: 20px;

      span {
        font-size: 32px;
        margin-right: 17px;
        position: relative;
        z-index: 2;
        font-weight: bolder;
        padding-left: 7px;

        &::after {
          position: absolute;
          top: 0;
          bottom: 0;
          left: -15px;
          content: "";
          width: 50px;
          height: 62px;
          margin: auto;
          z-index: -1;
          border-radius: 50px 0px 0px 50px;
          background: rgba(30, 104, 178, 0.1);
        }
      }
    }

    .bottom-right {
      width: auto;
      padding: 15px 20px;
      display: flex;
      align-items: center;
      right: unset;
      left: 35%;
      border-radius: 100px;
      width: 190px;
      box-shadow: 0px 0px 10px 2px rgba(30, 104, 178, 0.1);
      color: var(--blackColor);
      line-height: 20px;

      span {
        font-size: 32px;
        margin-right: 17px;
        color: var(--themeColor2);
        position: relative;
        z-index: 2;
        font-weight: bolder;
        padding-left: 5px;

        &::after {
          position: absolute;
          top: 0;
          bottom: 0;
          left: -15px;
          content: "";
          width: 50px;
          height: 62px;
          margin: auto;
          z-index: -1;
          border-radius: 50px 0px 0px 50px;
          background: rgba(30, 104, 178, 0.1);
        }
      }
    }

    .desc-part {
      padding-left: 50px;

      .left-desc-sect {
        p {
          margin-bottom: 7px;
        }
      }

      .listing-point {
        ul {
          padding: 0;
          margin: 20px 0 0 0;
          list-style-type: none;

          li {
            position: relative;
            margin-bottom: 15px;
            padding-left: 27px;

            &::before {
              content: "";
              position: absolute;
              height: 15px;
              width: 15px;
              border-radius: 100%;
              background: var(--themeColor2light);
              left: 0;
              top: 5px;
            }

            &::after {
              content: "";
              position: absolute;
              height: 7px;
              width: 7px;
              border-radius: 100%;
              background: var(--themeColor2);
              left: 4px;
              top: 9px;
            }

            p {
              margin-top: 5px;
              padding-left: 18px;
              position: relative;

              &::before {
                content: "";
                position: absolute;
                background: url(../../assets/images/bullet.webp);
                background-size: contain;
                background-position: center;
                height: 11px;
                width: 11px;
                left: 0;
                top: 6px;
              }
            }

            span {
              font-weight: bold;
              color: var(--blackColor);
            }
          }
        }
      }
    }
  }
}
.center-chart-sec {
  margin-top: 70px;
}
@media only screen and (max-width: 1200px) {
  .about-us-section {
    .about-second-sec {
      .desc-part {
        padding-top: 73px;
      }
    }
  }
}
