.ts-process-section {
  padding: 3.5rem 0;

  .container {
    margin: 0 auto;
    padding: 0 1rem;
    z-index: 2;
    position: relative;
    @media (min-width: 576px) {
      max-width: 540px;
    }
    @media (min-width: 768px) {
      max-width: 720px;
    }
    @media (min-width: 992px) {
      max-width: 960px;
    }
    @media (min-width: 1200px) {
      max-width: 1140px;
    }
    @media (min-width: 1400px) {
      max-width: 1320px;
    }
  }
  .design-process {
    padding: 0;
    .process-title {
      .service-title {
        font-size: var(--commonFontSize-MainTitle);
        font-weight: 700;
        color: #1f2937;
        margin-bottom: 1.5rem;
        line-height: 1.25;
      }
    }
    .step-description {
      max-width: 85%;
      background: #fff5ef;
      padding: 20px;
      @media (max-width: 991px) {
        max-width: 100%;
      }
      h3 {
        span {
          &:nth-child(2) {
            border: none;
          }
        }
      }
    }
  }
}
