.blog-cta-section {
  margin-top: 15px;
  background: #ef4a20;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    border-radius: 50%;
  }

  &::before {
    width: 200px;
    height: 200px;
    bottom: -40px;
    right: -40px;
    background: rgba(255, 255, 255, 0.1);
  }

  &::after {
    width: 120px;
    height: 120px;
    bottom: 40px;
    right: 80px;
    background: rgba(255, 255, 255, 0.15);
  }

  .cta-container {
    text-align: left;

    .cta-title {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    .cta-subtext {
      font-size: 0.95rem;
      margin-bottom: 1.5rem;
    }

    .cta-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
      }
      gap: 1rem;
      font-size: 0.95rem;

      .cta-item {
        display: flex;
        align-items: flex-start;
        gap: 0.6rem;

        svg {
          font-size: 1.2rem;
          margin-top: 0.15rem;
        }

        &.address div {
          display: flex;
          flex-direction: column;
        }
      }
    }

    .cta-socials {
      display: flex;
      gap: 1rem;
      margin-top: 1rem;
      padding: 0 5px;

      svg {
        background: #fff;
        color: #ef4a20;
        border-radius: 50%;
        padding: 0.4rem;
        font-size: 2rem;
        cursor: pointer;
        transition: background 0.3s ease;

        &:hover {
          background: #ffe3db;
        }
      }
    }

    .cta-button-wrapper {
      margin-top: 2rem;
      text-align: left;

      .cta-button {
        background: #fff;
        color: rgb(255, 38, 0);
        padding: 0.75rem 1.5rem;
        border-radius: 6px;
        font-weight: 600;
        text-decoration: none;
        display: inline-block;
        transition: background-color 0.3s ease;
        width: 100%;
        text-align: center;

        &:hover {
          background: #f1e0dd;
        }
      }
    }
  }
}
