.ts-problem-solution-section {
  padding: 4rem 0;
  .container {
    margin: 0 auto;
    padding: 0 1rem;
    z-index: 2;
    position: relative;
    @media (min-width: 576px) {
      max-width: 540px;
    }
    @media (min-width: 768px) {
      max-width: 720px;
    }
    @media (min-width: 992px) {
      max-width: 960px;
    }
    @media (min-width: 1200px) {
      max-width: 1140px;
    }
    @media (min-width: 1400px) {
      max-width: 1320px;
    }

    .problem-solution-title {
      text-align: center;
      .content-title {
        .title-icon {
          color: #00a63e;
          margin-right: 7px;
          margin-top: -4px;
          line-height: var(--commonFontSize-MainTitle);
        }
        font-size: var(--commonFontSize-MainTitle);
        font-weight: 700;
        color: #1f2937;
        margin-bottom: 1.5rem;
        line-height: var(--commonFontSize-MainTitle);
      }
      .desc {
        font-size: 1.25rem;
        color: #343434;
        margin-bottom: 0.5rem;
        line-height: 1.5;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .problem-solution-detail {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
      margin-top: 30px;
      @media (max-width: 767px) {
        grid-template-columns: 1fr;
        gap: 1.5rem;
      }
      .problems-list {
        background: #ffefef;
        padding: 20px;
        border-radius: 12px;
        .problems-title {
          display: flex;
          align-items: center;
          .title-icon {
            color: #e7000b;
            font-size: var(--commonFontSize-3extraLarge);
            margin-right: 10px;
            margin-top: -4px;
          }
          .titles {
            font-size: var(--commonFontSize-2extraLarge);
            color: #82181a;
            font-weight: 700;
          }
        }
      }
      .solutions-list {
        background: #e5ffed;
        padding: 20px;
        border-radius: 12px;
        .solution-title {
          display: flex;
          align-items: center;
          .title-icon {
            color: #00a63e;
            font-size: var(--commonFontSize-3extraLarge);
            margin-right: 10px;
            margin-top: -4px;
          }
          .titles {
            font-size: var(--commonFontSize-2extraLarge);
            color: #0d542b;
            font-weight: 700;
          }
        }
      }
      .list-sec {
        margin-top: 15px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.1rem;
        .list-items {
          background: var(--whiteColor);
          border-radius: 10px;
          padding: 15px 15px 15px 30px;
          transition: all 0.2s ease-in-out;
          min-height: 78px;
          position: relative;
          .icon-title {
            display: flex;
            align-items: flex-start;
            span {
              background: #82181a;
              min-width: 35px;
              min-height: 35px;
              max-width: 35px;
              max-height: 35px;
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              left: -10px;
              top: -5px;
              border-radius: 10px 10px 0px 10px;
              box-shadow: 0px 2px 15px -5px #82181a;
              .iconify {
                color: #fff;
                padding-top: 0px;
                min-width: 25px;
                min-height: 25px;
                max-width: 25px;
                max-height: 25px;
              }
            }
          }
          .title-txt {
            color: #82181a;
            font-weight: 600;
            font-size: 1.15rem;
            margin-bottom: 0;
          }
          .desc-txt {
            color: #c10007;
            margin: 0;
          }
          &:hover {
            transform: translateY(-4px);
            box-shadow: 0 8px 12px 8px rgba(0, 0, 0, 0.05);
          }
        }
        &.solution-list {
          .list-items {
            .icon-title {
              display: flex;
              align-items: flex-start;
              span {
                background: #008236;
                box-shadow: 0px 2px 15px -5px #008236;
              }
            }
            .title-txt {
              color: #0d542b;
            }
            .desc-txt {
              color: #008236;
            }
          }
        }
      }
    }
    .bottom-why-moltech-sec {
      margin-top: 25px;
      padding: 25px;
      border-radius: 10px;
      .desc-sec {
        .bottom-title {
          font-size: var(--commonFontSize-subTitle);
          font-weight: 700;
          color: #1f2937;
          margin-bottom: 1.5rem;
          line-height: var(--commonFontSize-subTitle);
          text-align: center;
        }
        .desc {
          font-size: 1.15rem;
          color: #343434;
          margin-bottom: 1rem;
          line-height: 1.75;
          text-align: center;
        }
      }
    }
    .bottom-desc {
      margin-top: 25px;
      font-size: 1.15rem;
      color: #343434;
      margin-bottom: 0.5rem;
      line-height: 1.75;
    }
  }
  .cta-section {
    margin-top: 4rem;
    .cta-content {
      .cta-subtitle {
        max-width: 100%;
      }
    }
  }
}
