.why-choose-us-section {
    overflow-x: hidden !important;
    position: relative;

    .why-choose-top-title-sec {
        margin: 30px 0;

        .content-sec {
            p {
                font-size: var(--commonFontSize);
                color: var(--blackColor);
            }

            .content-point-part {
                ul {
                    li {
                        list-style-type: decimal;
                        padding-left: 20px;
                        margin-bottom: 20px;
                        color: var(--blackColor);
                        font-size: var(--commonFontSize-large);
                        font-weight: 600;
                        position: relative;

                        &:before {
                            content: "";
                            position: absolute;
                            background: #fad8cf;
                            height: 40px;
                            width: 40px;
                            left: -35px;
                            top: 50%;
                            border-radius: 45px 60px 55px 80px;
                            z-index: -1;
                            transform: translateY(-50%) rotate(110deg);

                            @media only screen and (max-width: 767px) {
                                left: -33px;
                            }
                        }

                        &:after {
                            content: "";
                            position: absolute;
                            background: var(--themeColor);
                            height: 27px;
                            width: 30px;
                            left: -30px;
                            top: 52%;
                            border-radius: 45px 60px 55px 80px;
                            z-index: -1;
                            transform: translateY(-50%) rotate(27deg);

                            @media only screen and (max-width: 767px) {
                                left: -27px;
                            }
                        }

                        &::marker {
                            color: var(--whiteColor);
                        }
                    }
                }
            }
        }
    }

    .section-center {
        .title-center {
            .title {
                margin-bottom: 10px !important;
            }

            .points-part {
                display: flex;
                justify-content: center;
                margin-bottom: 25px;

                span {
                    color: var(--themeColor);
                    // background: #fad8cf;
                    border: 1px solid var(--themeColor);
                    padding: 2px 15px 4px 15px;
                    margin: 0 5px;
                    border-radius: 30px;
                    font-size: var(--commonFontSize);
                }

                @media only screen and (max-width: 991px) {
                    flex-wrap: wrap;

                    span {
                        margin-bottom: 10px;
                    }
                }
            }
        }

        .box-section-main {
            padding: 50px 0 20px;

            @media only screen and (max-width: 991px) {
                padding-top: 10px;
            }

            .box-rows {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                .box-layout {
                    padding: 25px;
                    background: var(--whiteColor);
                    border-radius: 50px 50px 100px 70px;
                    box-shadow: -2px 0px 40px -22px;
                    margin: 0 5% 70px 0;
                    width: 30%;
                    transition: 0.5s all;
                    position: relative;

                    @media only screen and (max-width: 1024px) {
                        margin: 0 4% 70px 0;
                        width: 46%;
                    }

                    @media only screen and (max-width: 991px) {
                        margin: 0 0% 50px 0;
                        width: 100%;
                        border-radius: 30px;
                    }

                    h4 {
                        color: var(--blackColor);
                    }

                    p {
                        margin-bottom: 0;
                    }

                    .number-sec {
                        position: absolute;
                        right: 10px;
                        bottom: -25px;
                        width: 80px;
                        height: 80px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        span {
                            font-weight: 900;
                            color: var(--whiteColor);
                            font-size: 100px;
                            line-height: 100px;
                            text-shadow: -15px 5px 20px #ced0d3;
                        }

                        @media only screen and (max-width: 991px) {
                            right: 0;
                        }
                    }

                    &:nth-child(1) {
                        box-shadow: -2px 0px 40px -22px var(--themeColor);

                        &:hover {
                            box-shadow: -2px 0px 40px -15px var(--themeColor);
                        }

                        .number-sec {
                            span {
                                text-shadow: -8px 5px 20px #ef532369;
                            }
                        }
                    }

                    &:nth-child(2) {
                        box-shadow: -2px 0px 40px -22px var(--themeColor2);

                        &:hover {
                            box-shadow: -2px 0px 40px -15px var(--themeColor2);
                        }

                        .number-sec {
                            span {
                                text-shadow: -8px 5px 20px #115cac69;
                            }
                        }
                    }

                    &:nth-child(3) {
                        box-shadow: -2px 0px 40px -22px #ffbe00;
                        margin-right: 0;

                        &:hover {
                            box-shadow: -2px 0px 40px -15px #ffbe00;
                        }

                        .number-sec {
                            span {
                                text-shadow: -8px 5px 20px #ffbf0069;
                            }
                        }

                        @media only screen and (max-width: 1024px) {
                            margin-right: 4%;
                        }
                    }

                    &:nth-child(4) {
                        box-shadow: -2px 0px 40px -22px var(--greenBg);

                        &:hover {
                            box-shadow: -2px 0px 40px -15px var(--greenBg);
                        }

                        .number-sec {
                            span {
                                text-shadow: -8px 5px 20px #6dd09869;
                            }
                        }
                    }

                    &:nth-child(5) {
                        box-shadow: -2px 0px 40px -22px var(--purpulBg);

                        &:hover {
                            box-shadow: -2px 0px 40px -15px var(--purpulBg);
                        }

                        .number-sec {
                            span {
                                text-shadow: -8px 5px 20px #9b4fe269;
                            }
                        }
                    }

                    &:hover {
                        box-shadow: -2px 0px 40px -15px;
                    }
                }
            }
        }

        .advantage-sec {
            .advantage-points {
                ul {
                    padding: 0;
                    margin: 0;

                    li {
                        list-style-type: none;
                        display: flex;
                        align-items: center;
                        margin-bottom: 30px;

                        .icon-part {
                            img {
                                max-width: 65px;
                            }
                        }

                        .desc-part {
                            padding-top: 5px;
                            padding-left: 25px;

                            h5 {
                                color: var(--blackColor);
                                margin-bottom: 0px;
                            }

                            p {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .tablet-order-1 {
        order: 1;
    }

    .tablet-order-2 {
        order: 2;
    }
}