.main-loader-sec {
  background: #fff;
  height: 100vh;
  width: 100%;
  position: fixed;
  inset: 0;
  z-index: 99999;
}

.logo_loader {
  width: 400px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @media only screen and (max-width: 768px) {
    width: 200px;
  }
}

.logo_loader img {
  width: 100%;
  height: auto;
  max-width: inherit;
  vertical-align: middle;
}

.logo_loader .overlaybox {
  position: absolute;
  bottom: 0;
  top: 0;

  overflow: hidden;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  animation-delay: 0s;
  animation-direction: normal;
  animation-duration: 3s;
  animation-name: overlaylogo;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 100;
  animation-fill-mode: none;
}

@keyframes overlaylogo {

  0% {
    width: 0;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 100%;
  }
}

.logo_loader .overlaybox img {
  position: absolute;
  height: 100%;
  bottom: 0;
  width: auto;
  max-width: inherit;
}

.logo_loader .overlaybox2 {
  position: absolute;
  top: 0;
  height: 100.2%;
  left: 0;
  overflow: hidden;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  animation-delay: 0s;
  animation-direction: normal;
  animation-duration: 3s;
  animation-name: overlaylogo2;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 100;
  animation-fill-mode: none;
}

@keyframes overlaylogo2 {

  0% {
    width: 0;
  }

  50% {
    width: 0;
  }

  99.99% {
    width: 100%;
    opacity: 1;
  }

  100% {
    width: 100%;
    opacity: 0;
  }
}

.logo_loader .overlaybox2 img {
  position: absolute;
  height: 100%;
  bottom: 0;
  max-width: inherit;
  width: auto;
  opacity: 0;
  visibility: hidden;
}