// Blog Sidebar Styles
// ===================

@import 'variables';
@import 'mixins';

.sidebar {
  position: sticky;
  top: 50px;
  padding: 0 20px;
  background: $blog-white-color;
  border-radius: 5px;

  .learn_more {
    .cta {
      text-align: center;
      padding: 50px 20px;
      background-color: $blog-white-color;
      border: 1px solid #ccc;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      margin-bottom: 50px;
      border-radius: 5px;

      &__preheading {
        font-size: $blog-body-font-size;
        letter-spacing: 1px;
        color: #4e5a65;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      &__heading {
        font-size: $blog-subtitle-font-size;
        font-weight: 400;
        line-height: 1.2;
        color: #2d3e50;
        margin-bottom: 20px;
      }

      &__description {
        font-size: $blog-body-font-size;
        color: #2d3e50;
        margin-bottom: 30px;
      }

      &__button {
        @include blog-button;
      }
    }
  }

  .ad {
    background-color: $blog-white-color;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
    border-radius: 5px;
  }

  .search-posts {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;

    .input-label {
      font-size: $blog-body-font-size;
      font-weight: 600;
      margin-bottom: 12px;
      color: $blog-main-color;
    }

    .search-bar {
      display: flex;

      input {
        width: 100%;
        flex: 1;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px 0 0 5px;
        font-size: $blog-small-font-size;
      }

      button {
        padding: 10px;
        background-color: $blog-theme-color;
        border: none;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        color: $blog-white-color;
        display: flex;
        align-items: center;

        svg {
          font-size: $blog-subtitle-font-size;
        }
      }
    }

    hr {
      margin-top: 30px;
      border-width: 1.8px;
      margin-bottom: 10px;
    }
  }

  .about-us {
    margin-bottom: 20px;

    h3 {
      margin-bottom: 10px;
      font-size: $blog-body-font-size;
      font-weight: bold;
      color: $blog-main-color;
    }

    p {
      font-size: $blog-small-font-size;
      color: $blog-trend-text-color;
    }

    hr {
      margin-top: 30px;
      border-width: 1.8px;
    }
  }

  .blog-categories {
    margin-bottom: 20px;

    h3 {
      margin-top: 30px;
      margin-bottom: 10px;
      font-size: $blog-body-font-size;
      font-weight: bold;
      width: 100%;
      color: $blog-main-color;
    }

    ul {
      margin-top: 20px;
      list-style: none;
      padding: 0;

      li {
        font-size: $blog-small-font-size;
        color: $blog-trend-text-color;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100px;

        span:nth-of-type(1) {
          min-width: 130px;
          cursor: pointer;
          transition: color 0.3s ease;

          &:hover {
            color: $blog-theme-color;
          }
        }
      }
    }

    hr {
      margin-top: 30px;
    }
  }

  .blog-slider {
    width: 100%;
  }

  .blog-comments {
    margin-top: 20px;

    .input-label {
      font-size: $blog-body-font-size;
      font-weight: bold;
      color: $blog-main-color;
    }

    p {
      margin: 15px 0;
      font-size: $blog-small-font-size;
    }

    hr {
      margin-top: 20px;
    }
  }

  .blog-tags {
    .input-label {
      font-size: $blog-body-font-size;
      font-weight: 600;
      margin-bottom: 12px;
      margin-top: 10px;
      color: $blog-main-color;
    }

    .tags-button {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;

      .tag-button {
        background-color: $blog-white-color;
        color: $blog-trend-text-color;
        border: 1px solid $blog-main-color;
        font-size: $blog-small-font-size;
        padding: 5px 10px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          border-color: $blog-theme-color;
          color: $blog-theme-color;
        }
      }
    }
  }
}

// Sticky sidebar positioning
.blog-sidebar-sticky {
  position: sticky;
  top: 7rem;
}
