.ts-hero-section {
  padding: 3.5rem 0;

  .container {
    margin: 0 auto;
    padding: 0 1rem;
    z-index: 2;
    position: relative;
    @media (min-width: 576px) {
      max-width: 540px;
    }
    @media (min-width: 768px) {
      max-width: 720px;
    }
    @media (min-width: 992px) {
      max-width: 960px;
    }
    @media (min-width: 1200px) {
      max-width: 1140px;
    }
    @media (min-width: 1400px) {
      max-width: 1320px;
    }
    .hero-grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 3rem;
      align-items: center;

      @media (min-width: 1024px) {
        grid-template-columns: 1.1fr 1fr;
      }
      .hero-content {
        .hero-title {
          font-size: 2.6rem;
          font-weight: 700;
          color: #1f2937;
          margin-bottom: 1.5rem;
          line-height: 1.25;

          @media (min-width: 1024px) {
            font-size: 3rem;
          }
        }
        .hero-description {
          font-size: 1.2rem;
          color: #343434;
          margin-bottom: 1rem;
          line-height: 1.75;
        }
        .hero-buttons {
          margin-top: 30px;
          display: flex;
          flex-direction: column;
          width: 100%;
          .hero-description{
            margin-bottom: 0;
          }
          a {
            width: fit-content;
            padding: 7px 20px 7px 20px;
            border-radius: 30px;
            color: #fff;
            box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1);
            font-weight: 600;
            .iconify {
              transition: 0.5s all;
              height: 20px;
              width: 20px;
              margin-left: 5px;
              font-weight: 600;
            }
            &:hover {
              box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
              .iconify {
                transform: translateX(0.25rem);
              }
            }
          }
        }
      }
      .hero-card {
        .card-box {
          order: 1;
          transition: transform 0.3s ease;
          @media screen and (max-width: 991px) {
            transform: none;
          }

          &:hover {
            transform: scale(1.03);
          }

          .card-header {
            overflow: hidden;
            margin: 0 auto;
            text-align: right;
            @media (max-width: 1200px) {
              text-align: center;
            }
            img {
              width: 100%;
              height: auto;
              object-fit: cover;
              object-position: top;
              @media (max-width: 1150px) {
                width: 60%;
                margin: 0 auto;
              }
            }
          }
        }
      }
    }
  }
}
