//Reset and Base Typography
@use "../base/reset";
@use "../base/typography";
@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "../helpers/mediaQueries" as *;


// Global Styles
html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family-primary;
  background-color: $white-color;
  color: $text-color;
  font-size: $font-size-base;
  line-height: 1.5;
}

