//staff-augmentation

.staff-augmentation-wrapper {

    &_hero {
        position: relative;
        min-height: 95vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-attachment: fixed;
        background-size: cover;

        @media (max-width: 768px) {
            min-height: 75vh;
        }

        .bg-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(4, 12, 23, 0.7);
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            filter: grayscale(100%);
            z-index: 1;
        }

        .bg-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 120%; // a bit more height for effect
            background-image: url(../../../assets/images/software-consulting-banner.webp);
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 0;
            pointer-events: none;
            transform: translateY(0);
            transition: transform 0.1s ease-out;
        }

        &_hero-section {
            z-index: 1;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;

            @media (max-width: 1024px) {
                flex-direction: column;
                gap: 8rem;
                margin: 3rem 0;
            }

            &_content-side {
                color: var(--whiteColor);
                flex: 1;
                padding: 0px 0;
                width: 60%;
                gap: 25px;
                display: flex;
                flex-direction: column;

                @media (max-width: 1024px) {
                    width: 100%;
                }

                h1 {
                    font-weight: 600;
                    font-size: 60px;
                    line-height: 1;
                    text-transform: none;
                    text-align: left;
                    color: var(--themeColor);

                    @media (max-width: 768px) {
                        font-size: 30px;
                    }
                }

                h2 {
                    line-height: 30px;
                    color: rgba(252, 252, 252, 0.87);
                    font-size: 22px;
                    font-weight: 400;
                    max-width: 80%;

                    @media (max-width: 768px) {
                        font-size: 18px;
                    }
                }

                .round-outline-btn {
                    border: 2px solid var(--whiteColor);
                    border-radius: 35px;
                    color: var(--whiteColor);
                    padding: 30px 20px;
                    min-width: 200px;
                    font-size: 18px;
                    position: relative;
                    justify-content: space-between !important;

                    &:hover {
                        background-color: var(--themeColor);
                        border-color: var(--themeColor);
                        transition: all 0.5s;
                    }

                    .button-icon {
                        width: 50px;
                        height: 50px;
                        background-color: var(--whiteColor);
                        border-radius: 100%;
                        position: absolute;
                        right: 2px;
                        color: #000;
                    }
                }
            }

            &_client-testimonial-sec {
                background-color: var(--whiteColor);
                border-top: 5px solid var(--themeColor);
                border-radius: 10px;
                padding: 65px 25px 20px 25px;
                position: relative;
                max-width: 450px;

                @media (max-width: 768px) {
                    max-width: 320px;
                }

                .slider-inner {
                    display: flex;
                    width: 100%;
                    transition: transform 0.6s ease-in-out; // Smooth slide
                    will-change: transform;
                }

                .testimonial {
                    flex: 0 0 100%;
                    padding: 0 10px;
                    box-sizing: border-box;
                    text-align: center;
                    position: relative;
                    background: none;
                }

                .testimonial img {
                    position: absolute;
                    left: 50%;
                    top: -100%;
                    transform: translate(-50%, 0%);
                    max-width: 130px;
                    border-radius: 25px 25px 15px 80px;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                }

                .testimonial p {
                    font-size: 16px;
                    line-height: 21px;
                    color: #414141;
                    margin: 15px 0 0;
                    padding-top: 10px;
                    min-height: 130px;
                }

                .testimonial .name {
                    font-weight: bold;
                    font-size: 16px;
                    margin-top: 20px;
                    color: #252525;
                }

                &::after {
                    content: "";
                    background: url(../../../assets/images/portfolio/line-shape.webp);
                    position: absolute;
                    top: -65px;
                    left: -65px;
                    background-size: contain;
                    z-index: 9;
                    width: 100px;
                    height: 100px;
                }

                &::before {
                    content: "";
                    background: url(../../../assets/images/serspe-01.svg);
                    position: absolute;
                    top: 15px;
                    left: -25px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    z-index: 9;
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }

    &_main-content {
        display: flex;
        justify-content: space-between;
        padding: 45px 0;

        @media (max-width: 1024px) {
            flex-direction: column-reverse;
        }

        @media (max-width: 768px) {
            padding-bottom: 0;
        }

        &_content-side {
            flex: 1;

            @media (max-width: 1024px) {
                order: 2;
            }

            &_top-title {
                display: flex;
                align-items: flex-start;
                justify-content: left;
                flex-direction: column;

                &_sub-title {
                    display: -webkit-inline-box;
                    display: -ms-inline-flexbox;
                    display: inline-flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    position: relative;
                    font-weight: 600;
                    color: var(--themeColor);
                    padding-left: 8px;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                    font-size: 14px;

                    &::after {
                        content: "";
                        position: absolute;
                        background: #c7c9d9;
                        width: 37px;
                        height: 1px;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
                        right: -45px;
                    }
                }

                &_title {
                    color: #25245d;
                    font-size: 30px;
                    font-weight: 700;
                }
            }

            &_center-content {
                max-width: 100%;
                margin: 0 auto;

                p {
                    font-size: 16px;
                    text-align: left;
                    color: var(--blackColor);

                    .highlight-text {
                        color: var(--themeColor);
                        font-weight: 500;
                    }
                }
            }

            ul {
                li {
                    color: var(--blackColor);
                    color: var(--themeColor);
                    font-weight: 500;

                    &::marker {
                        color: var(--themeColor);
                    }
                }
            }
        }

        &_img-side {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: 1024px) {
                order: 1;
            }

            img {
                width: 100%;
            }

            .awards-section {
                position: relative;
                height: 100%;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                width: 100%;

                @media (max-width: 1024px) {
                    min-height: 65vh;
                }

                .award {
                    position: absolute;

                    img {
                        width: 120px;
                        height: auto;
                        opacity: 1;
                        transform: scale(0.8);
                        transition: all 0.5s ease-out;
                    }

                    &.award-top {
                        top: 10%;
                        left: 50%;
                        transform: translate(-50%, 0%);
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            max-width: 100px;
                        }

                        &::after {
                            position: absolute;
                            top: -12px;
                            left: -15px;
                            height: 130px;
                            content: "";
                            width: 130px;
                            background-size: contain;
                            background-image: url(../../../assets/images/award-bg.svg);
                            filter: grayscale(100%);
                        }
                    }

                    &.award-left {
                        bottom: 10%;
                        left: 10%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        min-height: 130px;
                        min-width: 130px;

                        img {
                            max-width: 90px;
                        }

                        &::after {
                            position: absolute;
                            top: 0;
                            left: 0px;
                            height: 130px;
                            content: "";
                            width: 130px;
                            background-size: contain;
                            background-image: url(../../../assets/images/award-bg.svg);
                            filter: grayscale(100%);
                        }
                    }

                    &.award-right {
                        bottom: 10%;
                        right: 0%;
                        min-height: 130px;
                        min-width: 130px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            max-width: 100px;
                        }

                        &::after {
                            position: absolute;
                            right: 0px;
                            bottom: 0;
                            height: 130px;
                            content: "";
                            width: 130px;
                            background-size: contain;
                            background-image: url(../../../assets/images/award-bg.svg);
                            filter: grayscale(100%);
                        }
                    }
                }

                .center-dot {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 2;

                    .pulse-circle {
                        width: 20px;
                        height: 20px;
                        background: #f8a100;
                        border-radius: 50%;
                        position: relative;
                        transform: scale(0);
                        z-index: 0;

                        &::after,
                        &::before {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            content: "";
                            border-radius: 100%;
                            background-color: transparent;
                            z-index: 0;
                            animation: pulseRing 3s ease-out infinite;
                        }

                        &::after {
                            border: 8px solid #f8a10036;
                            width: 38px;
                            height: 38px;
                            animation-delay: 0s;
                        }

                        &::before {
                            border: 8px solid #f8a10018;
                            width: 48px;
                            height: 48px;
                            animation-delay: 1s; // staggered for nice ripple
                        }
                    }

                    @keyframes pulseRing {
                        0% {
                            transform: translate(-50%, -50%) scale(0.8);
                            opacity: 1;
                        }

                        70% {
                            transform: translate(-50%, -50%) scale(1.8);
                            opacity: 0.2;
                        }

                        100% {
                            transform: translate(-50%, -50%) scale(2);
                            opacity: 0;
                        }
                    }
                }

                .line-svg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    pointer-events: none;
                    z-index: 1;
                    rotate: 180deg;

                    .line {
                        stroke: #e2e2e2;
                        stroke-width: 1;
                        stroke-dasharray: 1000;
                        stroke-dashoffset: 1000;
                    }
                }
            }
        }
    }

    .services-augmentation {
        padding: 25px 0;
        flex-wrap: wrap;
        display: flex;
        position: relative;

        @media (max-width: 768px) {
            flex-direction: column;
        }

        .center-title {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;

            @media (max-width: 1024px) {
                align-items: flex-start;
            }

            .title {
                color: var(--blackColor);
                font-size: 30px;
                font-weight: 700;
                position: relative;
            }

            .key-sub-title {
                font-size: 22px;
                font-weight: 600;
                color: #25245d;
                padding-left: 8px;
                margin-bottom: 10px;
                font-size: 18px;
            }

            .sub-title {
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                position: relative;
                font-weight: 600;
                color: var(--themeColor);
                padding-left: 8px;
                margin-bottom: 10px;
                text-transform: uppercase;
                font-size: 18px;

                @media (max-width: 1024px) {
                    padding-left: 0;
                }

                &::after {
                    content: "";
                    position: absolute;
                    background: #c7c9d9;
                    width: 37px;
                    height: 1px;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    right: -45px;

                    @media (max-width: 1024px) {
                        display: none;
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    background: #c7c9d9;
                    width: 37px;
                    height: 1px;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    left: -35px;

                    @media (max-width: 1024px) {
                        display: none;
                    }
                }
            }

            p {
                font-size: 16px;
                text-align: left;
                color: var(--blackColor);
                margin: 5px 0;
                text-align: center;

                @media (max-width: 1024px) {
                    text-align: start;
                }
            }
        }

        .steps-wrapper {
            position: relative;
            margin: 45px auto 40px auto;

            .steps-container {
                display: flex;
                justify-content: space-between;
                gap: 10px;
                position: relative;
                z-index: 2;

                .step {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex: 1;
                    cursor: pointer;
                    transition: all 0.3s ease;

                    .icon-wrapper {
                        background: #f5f5f5;
                        padding: 15px;
                        border-radius: 12px;
                        font-size: 24px;
                        color: #333;
                        z-index: 2;
                        transition: 0.3s;
                        max-height: 60px;

                        svg {
                            width: 30px;
                            height: 30px;
                        }
                    }

                    .step-title {
                        margin-top: 8px;
                        font-size: 0.9rem;
                        color: #333;
                        font-weight: 500;
                    }

                    &.active .icon-wrapper {
                        background: var(--themeColor);
                        color: #fff;
                    }
                }
            }

            .progress-line {
                position: absolute;
                top: 30px;
                left: 0;
                right: 0;
                height: 3px;
                background: #ddd;
                z-index: 1;
                max-width: 85%;
                margin: 0 auto;

                .progress-filled {
                    height: 3px;
                    background-color: var(--themeColor);
                    transition: width 0.3s ease;
                }
            }
        }

        .step-description {
            max-width: 800px;
            margin: 50px auto 0 auto;
            text-align: center;

            h3 {
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 15px;
                color: var(--blackColor);
            }

            p {
                font-size: 18px;
                color: #555;
                line-height: 1.6;
            }
        }

        @media (max-width: 768px) {
            .steps-container {
                flex-direction: column;
                align-items: center;

                .progress-line {
                    display: none;
                }
            }
        }

        &_card-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 30px;
            margin: 45px 0;
            width: 75%;
            padding-right: 2rem;


            @media (max-width: 1024px) {
                flex-direction: column;
                width: 65%;
                padding-right: 1rem;
            }

            @media (max-width: 768px) {
                width: 100%;
            }

            &_card {
                border: 1px solid #dcdcdc;
                border-radius: 0px;
                width: 100%;
                position: relative;
                padding: 30px 30px;
                width: 100%;
                display: block;
                cursor: pointer;

                .icon-box {
                    min-width: 4rem;
                    height: 4rem;
                    background-color: rgba(255, 0, 0, 0.1);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 0.5rem;
                    margin-bottom: 1rem;
                    transition: all 0.3s ease;
                    padding: 15px;
                    color: var(--themeColor);

                    .component-iconify {
                        width: 100% !important;
                        height: 100% !important;

                        svg {
                            width: 100% !important;
                            height: 100% !important;
                        }
                    }
                }

                &:hover {
                    .icon-box {
                        background-color: var(--themeColor);
                        transition: all 0.3s ease;
                        color: var(--whiteColor);
                    }
                }

                .card-title {
                    font-size: 24px;
                    font-weight: 600;
                    margin-bottom: 15px;
                    color: #000;
                }

                p {
                    margin-bottom: 0;
                }
            }
        }

        &__sidebar {
            width: 25%;
            margin: 45px 0;
            position: sticky;
            top: 120px;
            height: fit-content;

            @media (max-width: 1024px) {
                width: 35%;
                top: 20px;
                margin: 0 auto;
            }

            @media (max-width: 768px) {
                width: 100%;
                position: relative;
                top: 0;
                display: none;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                li {
                    cursor: pointer;
                    padding: 0.5rem 1rem;
                    background-color: #f5f5f5;
                    border-radius: 8px;
                    font-weight: bold;
                    transition: background 0.3s;

                    &:hover {
                        background-color: var(--themeColor);
                        color: #fff;
                    }
                }
            }
        }

        .services-augmentation_stepper-section {
            padding: 60px 0;
            position: relative;
            overflow-x: auto;
            cursor: grab;
            user-select: none;

            @media (max-width: 550px) {
                padding: 20px 0;
            }

            // Hide scrollbar (Webkit browsers)
            &::-webkit-scrollbar {
                display: none;
            }

            // Hide scrollbar (Firefox)
            scrollbar-width: none;

            &.dragging {
                cursor: grabbing !important;
            }
        }

        .timeline-wrapper {
            display: flex;
            justify-content: space-between;
            position: relative;
            padding: 0px 60px 0 60px;
            min-width: 2500px;
            user-select: none;

            // scroll-snap-type: x mandatory;
            @media (max-width: 550px) {
                min-width: 1500px;
                padding: 0 30px 0 30px;
            }
        }

        .timeline-line {
            position: absolute;
            top: 140px;
            left: 0;
            height: 1px;
            background-color: #000;
            width: 100%;
        }

        .timeline-step {
            position: relative;
            text-align: center;
            width: 350px;
            align-items: center;
            display: flex;
            flex-direction: column;

            &::after {
                position: absolute;
                content: "";
                border: 1px dashed #000;
                top: 60px;
                right: -70%;
                width: 95%;

                @media (max-width: 550px) {
                    width: 53%;
                    right: -25%;
                }
            }

            &:last-child {
                &::after {
                    display: none !important;
                }
            }
        }

        .step-icon {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 60px 0 25px 0;
        }

        .step-icon .component-iconify svg {
            width: 40px;
            height: 40px;
        }

        .step-icon.blue {
            background-color: #e3eaff; // Light blue

            .component-iconify {
                color: #052686;
            }
        }

        .step-icon.orange {
            background-color: #ffe9cc; // Light orange

            .component-iconify {
                color: #b86f10;
            }
        }

        .step-icon.green {
            background-color: #dbfdef; // Light green

            .component-iconify {
                color: #016139;
            }
        }

        .step-icon.yellow {
            background-color: #fff9db; // Soft yellow

            .component-iconify {
                color: #d1b009;
            }
        }

        .step-icon.red {
            background-color: #ffe3e3; // Soft red

            .component-iconify {
                color: #bb1414;
            }
        }

        .step-year {
            font-size: 32px;
            font-weight: bold;
            color: #2a2552;
            font-size: 78px;
            width: 172px;
            -webkit-text-stroke: 2px #25245d;
            color: transparent;
            text-align: center;
            position: relative;

            &::after {
                content: "";
                height: 36px;
                border-right: 1px solid #000;
                position: absolute;
                left: 50%;
                bottom: -60px;
                transform: translate(-50%, 0%);
            }
        }

        .step-box {
            background-color: white;
            border-radius: 10px;
            text-align: center;
        }

        .step-number {
            font-weight: bold;
            color: #000;
            font-size: 18px;
        }

        .step-title {
            font-size: 20px;
            font-weight: 600;
            color: #262261;
            margin: 5px 0;
        }

        .step-desc {
            font-size: 16px;
            color: #000;
            font-weight: 300;

            @media (max-width: 550px) {
                padding: 0 15px;
            }
        }
    }

    .industries-we-serve-wrapper {
        background-color: #e84310;
        background: linear-gradient(165deg, #f27704, #f0b642);
        padding: 45px 0;

        .main-top-part {
            display: flex;
            justify-content: space-between;
            padding: 65px 0;

            @media (max-width: 1024px) {
                flex-direction: column;
                padding: 15px 0;
            }
        }

        .content-side {
            width: calc(35% - 15px);

            @media (max-width: 1024px) {
                width: 100%;
            }

            .title {
                color: var(--whiteColor);
                font-size: 45px;
                font-weight: 600;
            }

            .content {
                color: #f5f5f5;
                font-size: 16px;
                font-weight: 400;
            }
        }

        .img-side {
            width: calc(65% - 15px);

            @media (max-width: 1024px) {
                width: 100%;
            }
        }

        .services-card {
            display: flex;
            flex-wrap: wrap;
            // gap: 25px;
            justify-content: space-between; // Ensures nice centering on small screens
            padding-bottom: 55px;
            margin-top: 25px;

            @media (max-width: 1024px) {
                gap: 25px;
            }

            .card {
                flex: 1 1 250px; // Flex-grow: 1, flex-shrink: 1, flex-basis: 250px
                min-width: 250px;
                max-width: 250px;
                border: 1px solid rgba(255, 255, 255, 0.445);
                padding: 15px;
                background-color: transparent;
                position: relative;

                @media (max-width: 1024px) {
                    max-width: unset;
                }

                .card-count {
                    position: absolute;
                    top: unset;
                    bottom: -45px;
                    right: -10px;
                    transform: translate(-50%, -50%);
                    font-size: 55px;
                    color: rgba(224, 224, 224, 0.37);
                }

                .title {
                    color: var(--whiteColor);
                    font-size: 22px;
                }

                p {
                    color: #faffff;
                    font-size: 14px;
                }
            }
        }
    }
}

.steps-wrapper-bussiness {
    padding: 60px 20px;
    background-color: #f7f9fc;

    @media (max-width: 768px) {
        padding: 20px;
    }

    .steps-container {
        display: flex;
        gap: 40px;
        max-width: 1200px;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .step-list {
        display: flex;
        flex-direction: column;
        gap: 15px;
        flex: 1;

        .step-item {
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 12px 16px;
            border-left: 4px solid transparent;
            border-radius: 6px;
            cursor: pointer;
            background-color: #fff;
            transition: 0.3s ease;

            .step-icon {
                font-size: 22px;
                color: #888;
                max-height: 25px;
            }

            span {
                font-weight: 500;
                color: #333;
            }

            &.active {
                border-left: 4px solid var(--themeColor, #007bff);
                background-color: #e9f2ff;

                .step-icon {
                    color: var(--themeColor, #007bff);
                }

                span {
                    color: var(--themeColor, #007bff);
                }
            }

            &:hover {
                background-color: #f1f6fb;
            }
        }
    }

    .step-content {
        flex: 2;
        background-color: #fff;
        border-radius: 8px;
        padding: 30px;
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.05);
        min-height: 200px;

        h3 {
            color: #25245d;
            font-size: 30px;
            font-weight: 700;
            position: relative;
            text-align: center;
        }

        p {
            font-size: 1rem;
            line-height: 1.6;
            color: #444;
            text-align: center;
        }

        .service-img {
            img {
                max-height: 218px;
                width: auto;
                object-fit: contain;
            }
        }
    }

    @media (max-width: 768px) {
        .steps-container {
            flex-direction: column;
        }

        .step-list {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;

            .step-item {
                flex: 1 1 calc(50% - 10px);
            }
        }
    }

    @media (max-width: 768px) {
        .step-list {
            .step-item {
                flex: unset;
                width: 100%;
            }
        }
    }
}