//staff-augmentation

.staff-augmentation-wrapper {

    .container {
        @media only screen and (max-width: 1024px) {
            max-width: 100%;
            padding: 0 25px;
        }
    }

    .ui-ux-design {
        background-color: #070627;
        position: relative;
        height: 600px;

        @media (max-width: 990px) {
            height: 100%;
        }

        .container {
            height: 100%;
        }
    }

    .top-title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 9;
        position: relative;
        height: 100%;

        @media (max-width: 990px) {
            flex-direction: column-reverse;
        }

        .top-title-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 9;
            position: relative;

            .hero-banner-side {
                width: calc(50% - 10px);
                overflow-x: hidden;
                padding: 65px 0;
                position: relative;

                @media (max-width: 990px) {
                    width: calc(100% - 0px);
                }

                &::before {
                    background-image: url(../../../assets/images/wireframe.webp);
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    max-width: 350px;
                    width: 350px;
                    z-index: -1;
                    background-size: 100%;
                    height: 100%;
                    opacity: 0.5;
                }

                img {
                    width: 100%;
                    margin-left: auto;
                }
            }
        }

        .common-page-title {
            width: calc(50% - 10px);
            color: var(--whiteColor);
            padding: 0 25px;
            line-height: 1.5;

            @media (max-width: 990px) {
                width: calc(100% - 0px);
                padding-bottom: 25px;
            }

            .highlight-text {
                color: var(--themeColor);
                display: inline-block;
                border: 1px solid var(--themeColor);
                padding: 0 10px;
                position: relative;

                .tl {
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border: 1px solid var(--themeColor);
                    top: -5px;
                    left: -5px;
                    background-color: var(--whiteColor);
                }

                .bl {
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border: 1px solid var(--themeColor);
                    bottom: -5px;
                    left: -5px;
                    background-color: var(--whiteColor);
                }

                .br {
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border: 1px solid var(--themeColor);
                    bottom: -5px;
                    right: -5px;
                    background-color: var(--whiteColor);
                }

                .tr {
                    position: absolute;
                    top: -25px;
                    right: -25px;
                    z-index: 9;

                    svg {
                        path {
                            fill: #f87a54;
                        }
                    }
                }
            }

            .title {
                font-size: 2.2rem;
                font-weight: 600;
                padding-right: 20px;

                @media (max-width: 550px) {
                    font-size: 1.75rem;
                }
            }

            .main-content {
                padding: 20px 20px 0 0;
            }
        }

        .intro-content {
            background-color: rgb(255, 255, 255);
            padding: 10px;
            border-radius: 10px;
            padding-right: 20px;
        }

        .hero-banner-side {
            width: calc(50% - 10px);
            overflow-x: hidden;
            padding: 65px 0;
            position: relative;
            display: flex;
            justify-content: flex-end;

            @media (max-width: 990px) {
                width: calc(100% - 0px);
                padding-bottom: 10px;
            }
            img {
                width: 100%;
                margin-left: auto;
            }
        }
    }

    &_main-content {
        display: flex;
        justify-content: space-between;
        padding: 45px 0;

        @media (max-width: 1024px) {
            flex-direction: column;
            gap: 25px;
            padding-bottom: 0px;
        }

        &_content-side {
            flex: 1;

            @media (max-width: 1024px) {
                order: 2;
            }

            &_top-title {
                display: flex;
                align-items: flex-start;
                justify-content: left;
                flex-direction: column;

                &_sub-title {
                    color: var(--themeColor);
                    font-size: 2rem;
                    font-weight: 600;
                    margin-top: 15px;
                }

                &_title {
                    font-size: var(--commonFontSize-extraLarge);
                    font-weight: 600;
                    color: var(--blackColor);
                    margin-bottom: 20px;
                }
            }

            &_center-content {
                max-width: 100%;
                margin: 0 auto;

                p {
                    font-size: 16px;
                    text-align: left;
                    color: var(--blackColor);
                }
            }
        }

        &_img-side {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: 1024px) {
                order: 1;
            }

            img {
                width: 100%;
            }

            .awards-section {
                position: relative;
                height: 100%;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                width: 100%;

                @media (max-width: 1024px) {
                    min-height: 65vh;
                }

                .award {
                    position: absolute;

                    img {
                        width: 120px;
                        height: auto;
                        opacity: 1;
                        transform: scale(0.8);
                        transition: all 0.5s ease-out;
                    }

                    &.award-top {
                        top: 10%;
                        left: 50%;
                        transform: translate(-50%, 0%);
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            max-width: 100px;
                        }

                        &::after {
                            position: absolute;
                            top: -12px;
                            left: -15px;
                            height: 130px;
                            content: "";
                            width: 130px;
                            background-size: contain;
                            background-image: url(../../../assets/images/award-bg.svg);
                            filter: grayscale(100%);
                        }
                    }

                    &.award-left {
                        bottom: 10%;
                        left: 10%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        min-height: 130px;
                        min-width: 130px;

                        img {
                            max-width: 90px;
                        }

                        &::after {
                            position: absolute;
                            top: 0;
                            left: 0px;
                            height: 130px;
                            content: "";
                            width: 130px;
                            background-size: contain;
                            background-image: url(../../../assets/images/award-bg.svg);
                            filter: grayscale(100%);
                        }
                    }

                    &.award-right {
                        bottom: 10%;
                        right: 0%;
                        min-height: 130px;
                        min-width: 130px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            max-width: 100px;
                        }

                        &::after {
                            position: absolute;
                            right: 0px;
                            bottom: 0;
                            height: 130px;
                            content: "";
                            width: 130px;
                            background-size: contain;
                            background-image: url(../../../assets/images/award-bg.svg);
                            filter: grayscale(100%);
                        }
                    }
                }

                .center-dot {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 2;

                    .pulse-circle {
                        width: 20px;
                        height: 20px;
                        background: #f8a100;
                        border-radius: 50%;
                        position: relative;
                        transform: scale(0);
                        z-index: 0;

                        &::after,
                        &::before {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            content: "";
                            border-radius: 100%;
                            background-color: transparent;
                            z-index: 0;
                            animation: pulseRing 3s ease-out infinite;
                        }

                        &::after {
                            border: 8px solid #f8a10036;
                            width: 38px;
                            height: 38px;
                            animation-delay: 0s;
                        }

                        &::before {
                            border: 8px solid #f8a10018;
                            width: 48px;
                            height: 48px;
                            animation-delay: 1s; // staggered for nice ripple
                        }
                    }

                    @keyframes pulseRing {
                        0% {
                            transform: translate(-50%, -50%) scale(0.8);
                            opacity: 1;
                        }

                        70% {
                            transform: translate(-50%, -50%) scale(1.8);
                            opacity: 0.2;
                        }

                        100% {
                            transform: translate(-50%, -50%) scale(2);
                            opacity: 0;
                        }
                    }
                }

                .line-svg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    pointer-events: none;
                    z-index: 1;
                    rotate: 180deg;

                    .line {
                        stroke: #e2e2e2;
                        stroke-width: 1;
                        stroke-dasharray: 1000;
                        stroke-dashoffset: 1000;
                    }
                }
            }
        }
    }

    .services-augmentation {
        padding: 25px 0;
        flex-wrap: wrap;
        display: flex;
        position: relative;

        @media (max-width: 990px) {
            flex-direction: column;

        }

        .center-title {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;

            @media (max-width: 1024px) {
                align-items: flex-start;
            }

            .sub-title {
                color: var(--themeColor);
                font-size: 2rem;
                font-weight: 600;
                margin-top: 15px;
            }

            .title {
                font-size: var(--commonFontSize-extraLarge);
                font-weight: 600;
                color: var(--blackColor);
                margin-bottom: 20px;
            }

            p {
                font-size: 16px;
                text-align: left;
                color: var(--blackColor);
                margin: 5px 0;
                text-align: center;
            }
        }

        .steps-wrapper {
            position: relative;
            margin: 45px auto 40px auto;

            .steps-container {
                display: flex;
                justify-content: space-between;
                gap: 10px;
                position: relative;
                z-index: 2;

                .step {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex: 1;
                    cursor: pointer;
                    transition: all 0.3s ease;

                    .icon-wrapper {
                        background: #f5f5f5;
                        padding: 15px;
                        border-radius: 12px;
                        font-size: 24px;
                        color: #333;
                        z-index: 2;
                        transition: 0.3s;
                        max-height: 60px;

                        svg {
                            width: 30px;
                            height: 30px;
                        }
                    }

                    .step-title {
                        margin-top: 8px;
                        font-size: 0.9rem;
                        color: #333;
                        font-weight: 500;
                    }

                    &.active .icon-wrapper {
                        background: var(--themeColor);
                        color: #fff;
                    }
                }
            }

            .progress-line {
                position: absolute;
                top: 30px;
                left: 0;
                right: 0;
                height: 3px;
                background: #ddd;
                z-index: 1;
                max-width: 85%;
                margin: 0 auto;

                .progress-filled {
                    height: 3px;
                    background-color: var(--themeColor);
                    transition: width 0.3s ease;
                }
            }
        }

        .step-description {
            max-width: 800px;
            margin: 50px auto 0 auto;
            text-align: center;

            h3 {
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 15px;
                color: var(--blackColor);
            }

            p {
                font-size: 18px;
                color: #555;
                line-height: 1.6;
            }
        }

        @media (max-width: 768px) {
            .steps-container {
                flex-direction: column;
                align-items: center;

                .progress-line {
                    display: none;
                }
            }
        }

        &_card-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 30px;
            margin: 45px 0;
            width: 75%;
            padding-right: 2rem;

            @media (max-width: 1024px) {
                flex-direction: column;
            }

            @media (max-width: 990px) {
                width: 100%;
                margin: 20px 0;
                padding-right: 0%;
            }

            &_card {
                border: 1px solid #dcdcdc;
                border-radius: 0;
                width: 100%;
                position: relative;
                padding: 30px 30px 60px;
                width: 100%;
                display: block;
                cursor: pointer;

                &:hover {
                    .card-title {
                        .component-iconify {
                            background-color: var(--themeColor);
                            color: var(--whiteColor);
                        }
                    }
                }

                .card-title {
                    font-size: 24px;
                    font-weight: 600;
                    margin-bottom: 15px;
                    color: #000;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .component-iconify {
                        height: 50px;
                        width: 50px;
                        align-items: center;
                        justify-content: center;
                        display: flex;
                        background-color: rgba(255, 0, 0, 0.1);
                        color: var(--themeColor);
                        border-radius: 5px;
                        transition: all 0.3s ease;
                    }
                }
            }
        }

        &__sidebar {
            width: 25%;
            margin: 45px 0;
            position: sticky;
            top: 120px; // Adjust this as needed
            height: fit-content;

            @media (max-width: 990px) {
                position: static;
                width: 100%;
                margin: 20px 0;
                display: none;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                li {
                    cursor: pointer;
                    padding: 0.5rem 1rem;
                    background-color: #f5f5f5;
                    border-radius: 8px;
                    font-weight: bold;
                    transition: background 0.3s;
                    display: flex;
                    align-items: center;
                    gap: 15px;

                    &:hover {
                        background-color: var(--themeColor);
                        color: #fff;
                    }

                    &.active {
                        background-color: var(--themeColor);
                        color: #fff;
                    }
                }
            }
        }

        .services-augmentation_stepper-section {
            padding: 60px 0;
            position: relative;
            overflow-x: auto;
            cursor: grab;
            user-select: none;

            @media (max-width: 550px) {
                padding: 20px 0;
            }

            // Hide scrollbar (Webkit browsers)
            &::-webkit-scrollbar {
                display: none;
            }

            // Hide scrollbar (Firefox)
            scrollbar-width: none;

            &.dragging {
                cursor: grabbing !important;
            }
        }

        .timeline-wrapper {
            display: flex;
            justify-content: space-between;
            position: relative;
            padding: 0px 60px 0 60px;
            min-width: 2500px;
            user-select: none;

            // scroll-snap-type: x mandatory;
            @media (max-width: 550px) {
                min-width: 1500px;
                padding: 0 30px 0 30px;
            }
        }

        .timeline-line {
            position: absolute;
            top: 140px;
            left: 0;
            height: 1px;
            background-color: #000;
            width: 100%;
        }

        .timeline-step {
            position: relative;
            text-align: center;
            width: 350px;
            align-items: center;
            display: flex;
            flex-direction: column;

            &::after {
                position: absolute;
                content: "";
                border: 1px dashed #000;
                top: 60px;
                right: -70%;
                width: 95%;

                @media (max-width: 550px) {
                    width: 53%;
                    right: -25%;
                }
            }

            &:last-child {
                &::after {
                    display: none !important;
                }
            }
        }

        .step-icon {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 60px 0 25px 0;
        }

        .step-icon .component-iconify svg {
            width: 40px;
            height: 40px;
        }

        .step-icon.blue {
            background-color: #e3eaff; // Light blue

            .component-iconify {
                color: #052686;
            }
        }

        .step-icon.orange {
            background-color: #ffe9cc; // Light orange

            .component-iconify {
                color: #b86f10;
            }
        }

        .step-icon.green {
            background-color: #dbfdef; // Light green

            .component-iconify {
                color: #016139;
            }
        }

        .step-icon.yellow {
            background-color: #fff9db; // Soft yellow

            .component-iconify {
                color: #d1b009;
            }
        }

        .step-icon.red {
            background-color: #ffe3e3; // Soft red

            .component-iconify {
                color: #bb1414;
            }
        }

        .step-year {
            font-size: 32px;
            font-weight: bold;
            color: #2a2552;
            font-size: 78px;
            width: 172px;
            -webkit-text-stroke: 2px #25245d;
            color: transparent;
            text-align: center;
            position: relative;

            &::after {
                content: "";
                height: 36px;
                border-right: 1px solid #000;
                position: absolute;
                left: 50%;
                bottom: -60px;
                transform: translate(-50%, 0%);
            }
        }

        .step-box {
            background-color: white;
            border-radius: 10px;
            text-align: center;
        }

        .step-number {
            font-weight: bold;
            color: #000;
            font-size: 18px;
        }

        .step-title {
            font-size: 20px;
            font-weight: 600;
            color: #262261;
            margin: 5px 0;
        }

        .step-desc {
            font-size: 16px;
            color: #000;
            font-weight: 300;

            @media (max-width: 550px) {
                padding: 0 15px;
            }
        }
    }

    .industries-we-serve-wrapper {
        background-color: #e84310;
        background: linear-gradient(165deg, #f27704, #f0b642);
        padding: 45px 0;

        .main-top-part {
            display: flex;
            justify-content: space-between;
            padding: 0px 0;
            flex-wrap: wrap;

            @media (max-width: 1024px) {
                flex-direction: column;
                padding: 15px 0;
            }

            .title {
                color: var(--whiteColor);
                font-size: 45px;
                font-weight: 600;
                width: 100%;
                text-align: center;
                margin-bottom: 45px;
            }
        }

        .content-side {
            width: calc(35% - 15px);

            @media (max-width: 1024px) {
                width: 100%;
            }

            .content {
                color: #f5f5f5;
                font-size: 16px;
                font-weight: 400;
            }
        }

        .img-side {
            width: calc(65% - 15px);

            @media (max-width: 1024px) {
                width: 100%;
            }
        }

        .services-card {
            display: flex;
            flex-wrap: wrap;
            // gap: 25px;
            justify-content: space-between; // Ensures nice centering on small screens
            padding-bottom: 55px;
            margin-top: 25px;

            @media (max-width: 1024px) {
                gap: 25px;
            }

            .card {
                flex: 1 1 250px; // Flex-grow: 1, flex-shrink: 1, flex-basis: 250px
                min-width: 250px;
                max-width: 250px;
                border: 1px solid rgba(255, 255, 255, 0.445);
                padding: 15px;
                background-color: transparent;
                position: relative;

                @media (max-width: 1024px) {
                    max-width: unset;
                }

                .card-count {
                    position: absolute;
                    top: unset;
                    bottom: -45px;
                    right: -10px;
                    transform: translate(-50%, -50%);
                    font-size: 55px;
                    color: rgba(224, 224, 224, 0.37);
                }

                .title {
                    color: var(--whiteColor);
                    font-size: 26px;
                }

                p {
                    color: #faffff;
                    font-size: 14px;
                }
            }
        }
    }
}