.ts-benefits-section {
  padding: 4rem 0;
  background: #f3f3f3;
  .container {
    margin: 0 auto;
    padding: 0 1rem;
    z-index: 2;
    position: relative;
    @media (min-width: 576px) {
      max-width: 540px;
    }
    @media (min-width: 768px) {
      max-width: 720px;
    }
    @media (min-width: 992px) {
      max-width: 960px;
    }
    @media (min-width: 1200px) {
      max-width: 1140px;
    }
    @media (min-width: 1400px) {
      max-width: 1320px;
    }

    .what-can-grid {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 3rem;
      @media (max-width: 1024px) {
        grid-template-columns: repeat(1, 1fr);
      }
      .content-desc {
        position: sticky;
        top: 150px;
        max-height: fit-content;
        @media (max-width: 1024px) {
          position: unset;
        }
        .content-title {
          font-size: var(--commonFontSize-MainTitle);
          font-weight: 700;
          color: #1f2937;
          margin-bottom: 1.5rem;
          line-height: 1.25;
          span {
            color: var(--themeColor);
          }
        }
        .content-description {
          font-size: 1.15rem;
          color: #343434;
          margin-bottom: 0.5rem;
          line-height: 1.75;
          &:last-child {
            margin-bottom: 0;
          }
        }
        .bottom-img {
          text-align: center;
          img {
            max-width: 350px;
            height: auto;
          }
        }
      }
      .right-card-sec {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        @media (max-width: 767px) {
          grid-template-columns: 1fr;
        }
        .benefit-card {
          background: var(--whiteColor);
          padding: 25px;
          transition: 0.2s ease-in-out;
          .card-tile {
            display: flex;
            align-items: flex-start;
            .iconify {
              padding-top: 0px;
              min-width: 25px;
              min-height: 25px;
              max-width: 25px;
              max-height: 25px;
              color: var(--themeColor);
            }
            .card-title {
              font-size: var(--commonFontSize-extraLarge);
              font-weight: 700;
              color: #1f2937;
              line-height: 1.3;
              transition: 0.5s all;
              margin-left: 7px;
              margin-bottom: 0;
            }
          }
          .card-desc {
            font-size: 1rem;
            color: #343434;
            margin-bottom: 0;
            margin-top: 5px;
            ul {
              margin: 0;
            }
          }
          &:hover {
            transform: translateY(-4px);
            box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 12px 8px;
            .card-title {
              color: var(--themeColor);
            }
          }
        }
      }
      .content-description-bottom {
        font-size: 1.15rem;
        color: #343434;
        margin-bottom: 0.5rem;
        line-height: 1.5;
        margin-top: 15px;
      }
    }
  }
}
