.technology-sec {
  &.technology-detail-page {
    padding: 0;
    margin-top: 0;
  }
}
.technology-faq {
  .service-faq {
    padding: 4rem 0;
    .faq-header {
      .faq-badge {
        &:hover {
          transform: scale(1);
        }
      }
    }

    .faq-grid {
      .faq-left {
        .faq-title-wrapper {
          .faq-title {
            font-size: 3rem;
            word-break: break-all;
          }
          .faq-underline {
            display: none;
          }
          @media (max-width: 1024px) {
            text-align: center;
          }
        }
        .faq-card {
          .faq-card-desc {
            @media (max-width: 1024px) {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
