.popular-tags-container {
    background-color: #fff;
    padding: 1rem;
    margin-top: 1.5rem;
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;


    .heading {
        font-size: 1.25rem;
        font-weight: 700;
        color: #111827;
        display: flex;
        align-items: center;
        margin-top: 0;
        margin-bottom: 1rem;

        .heading-icon {
            width: 1.25rem;
            height: 1.25rem;
            color: var(--themeColor);
            margin-right: 0.5rem;
        }
    }

    .tags-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        .tag-item {
            font-size: 0.875rem;
            padding: 0.25rem 0.75rem;
            background-color: #f3f4f6;
            color: #374151;
            border-radius: 9999px;
            cursor: pointer;
            transition: all 0.2s ease;

            &:hover {
                background-color: var(--themeColorLight);
                color: var(--themeColor);
            }
        }
    }
}


