.career-page {
  padding-bottom: 15px;
  background: url(../../assets/images/main-bg.webp);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  .inquiry-contact {
    margin: 0;
  }

  .job-openings-section {
    margin-top: 50px;

    @media only screen and (max-width: 991px) {
      margin-top: 0px;
    }

    .section-title {
      font-size: var(--commonFontSize-large);
      color: var(--blackColor);
      margin-bottom: 0px;
    }

    .job-lists {
      display: grid;
      grid-template-columns: (1fr);
      gap: 20px;

      @media only screen and (max-width: 991px) {
        grid-template-columns: (1fr);
      }

      @media only screen and (max-width: 550px) {
        grid-template-columns: (1fr);
      }

      .job-card {
        background: var(--whiteColor);
        padding: 25px;
        border-radius: 10px;
        box-shadow: rgba(60, 64, 67, 0.02) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.08) 0px 2px 6px 2px;
        width: 100%;
        gap: 20px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        transition: 0.5s all;
        position: relative;
        .main-bg-icon {
          font-size: 120px;
          position: absolute;
          right: 20px;
          bottom: 20px;
          opacity: 0.1;
          color: var(--themeColor);
        }

        .left-desc-sec {
          h4 {
            margin-bottom: 10px;
            font-size: 1.5rem;
            text-align: left;
            color: var(--blackColor);
            font-weight: 600;
            text-transform: capitalize;
          }

          p {
            color: #666;
            text-align: left;
            margin-bottom: 10px;

            span {
              color: var(--blackColor);
            }
            .job-dept {
              color: var(--themeColor);
            }
            b {
              color: var(--blackColor);
              min-width: 80px;
              display: inline-block;
            }
          }
          .skills-title {
            font-weight: 600;
            color: var(--blackColor);
          }
          ul {
            li {
              color: #666;
            }
          }
          .how-apply {
            .text-note {
              a {
                color: var(--themeColor);
              }
            }
          }
        }
        .apply-btn-sec {
          position: absolute;
          right: 17px;
          top: 17px;
          .apply-btn {
            background-color: #fff3ec;
            color: var(--themeColor);
            padding: 8px 20px;
            font-weight: 700;
            border-radius: 25px;
            border: none;
            cursor: pointer;
            transition: 0.5s all;

            &:hover {
              color: var(--whiteColor);
              background-color: var(--themeColor);
            }
          }
        }
        @media only screen and (max-width: 1281px) {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .apply-btn-sec {
            position: relative;
            top: 0;
            right: 0;
          }
        }
        &:hover {
          box-shadow: 0px 2px 16px 6px rgb(239 169 130 / 18%);
        }
      }
    }
  }

  .recruitment-pro {
    margin-top: 50px;

    @media only screen and (max-width: 991px) {
      margin-bottom: 30px;
    }
    .section-title {
      font-size: var(--section-titleFontSize);
      color: var(--blackColor);
      font-weight: 600;
      margin: 20px 0;
      text-align: center;

      span {
        color: var(--themeColor);
      }
    }
    .recruitment-card {
      background-color: var(--whiteColor);
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      padding: 20px;
      margin: 40px 0px;
      border-radius: 10px;
      width: 23%;

      @media only screen and (max-width: 1200px) {
        width: 48%;
        margin: 20px 0 20px;
      }

      h4 {
        color: var(--blackColor);
        font-size: var(--commonFontSize-large);
        font-weight: 600;
      }

      svg {
        font-size: var(--commonFontSize-Title);
        margin: 20px 0;
        color: var(--themeColor);
      }

      p {
        margin-bottom: 0 !important;
      }
    }
  }

  .right-banner {
    right: -27% !important;
    position: relative;
    width: 40vw;
    @media only screen and (max-width: 1100px) {
      right: 0 !important;
      position: relative;
      width: auto;
      max-width: 80%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .not-opening {
    margin: 0;
    background: #99999924;
    width: 100%;
    padding: 40px 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100px;
    }

    span {
      font-size: var(--commonFontSize-3extraLarge);
      color: var(--blackColor);
      margin: 0 0 0 20px;
      opacity: 0.5;
    }
  }
  .heiring-platform-sec {
    padding: 50px 0 10px;
    .title-left {
      .title {
        text-align: left;
        text-transform: capitalize !important;
        margin-bottom: 10px;
      }
    }
    .box-part {
      margin-top: 20px;
      .box-layout {
        padding: 20px;
        border: 5px solid #ededed;
        border-radius: 15px;
        transition: 0.5s all;
        .icon-sec {
          background: #fff3ec;
          color: var(--themeColor);
          width: 45px;
          height: 45px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
          font-size: 30px;
        }
        .right-desc {
          h4 {
            font-weight: 600;
            font-size: var(--commonFontSize);
            margin-top: 10px;
          }
          p {
            font-size: var(--commonFontSize-extraSmall);
          }
        }
        &:hover {
          background: var(--whiteColor);
          border-color: #fff3ec;
        }
      }
    }
  }
  .order-one {
    order: 2;
  }

  .order-two {
    order: 1;
  }
}
@media only screen and (max-width: 1200px) {
  .header-main-menu {
    padding: 10px 10px !important;
  }

  .order-one {
    order: 1;
  }

  .order-two {
    order: 2;
  }

  .order-three {
    order: 3;
  }
}

@media only screen and (max-width: 800px) {
  .right-banner {
    width: 68vw;
    margin-bottom: 30px;
  }

  .info-container {
    padding: 0 !important;

    .watermark {
      top: -35%;
    }
  }
}

@media only screen and (max-width: 550px) {
  .career-page {
    .right-banner {
      right: -1% !important;
      width: 100%;
    }

    .career-right-sec {
      .right-sec-content {
        width: 95%;
      }
    }

    .info-container {
      margin: 50px auto 0 auto;
      padding: 0 20px;

      .watermark {
        left: 0;
      }
    }

    .recruitment-card {
      width: 95%;
      margin: 10px auto;
    }
  }
}
.career-demo-model {
  .model-center-main {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    /* Stack boxes vertically */
    gap: 10px;
  }
}

/* Mobile (480px and below) */
@media (max-width: 480px) {
  .header {
    font-size: 18px;
    padding: 10px;
  }

  .content .box {
    padding: 10px;
    font-size: 14px;
  }
}
