.left-contain {
  .info-container {
    margin-left: auto !important;
  }
}

.info-container {
  position: relative;
  text-align: left;
  color: var(--textColor);

  .subtitle {
    display: block;
    font-size: var(--commonFontSize-medium);
    font-weight: 500;
    text-transform: uppercase;
    color: var(--textColor-light);
    margin-bottom: 20px;
    letter-spacing: 2px;
  }

  .main-title {
    font-size: var(--commonFontSize-Title);
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.2;
    margin: 30px 0;
    max-width: 90%;

    .highlight {
      color: var(--themeColor);
    }
  }

  .more-description {
    margin-bottom: 20px;
  }

  .description {
    font-size: var(--commonFontSize);
    line-height: 1.67;
    color: var(--textColor-medium);
    margin-bottom: 20px;
    margin-top: 0px;

    a {
      color: var(--themeColor);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .cta-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 15px 35px;
    font-weight: var(--commonFontSize-medium);
    color: var(--whiteColor);
    background-color: var(--textColor);
    border: none;
    font-weight: 600;
    margin-top: 0 !important;
    cursor: pointer;

    &:hover {
      background-color: var(--darkBtnHover);
    }

    letter-spacing: 0;
    border-radius: 3px;

    svg {
      font-size: var(--commonFontSize-extraSmall);
    }
  }

  .watermark {
    position: absolute;
    top: 17%;
    left: -10%;
    transform: translate(0%, -50%);
    pointer-events: none;
    z-index: 0;
    color: rgba(0, 0, 0, 0.05);
    font-size: var(--commonFontSize-Watermark);
    font-weight: 700;
    line-height: 110px;
    @media only screen and (max-width: 1200px) {
      font-size:100px;
    }
  }
}

.subtitle {
  animation-delay: 0.3s;
}

.description {
  animation-delay: 0.6s;
}

.cta-button {
  animation-delay: 0.9s;
}

.watermark {
  animation-delay: 1.2s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-title {
  opacity: 0;
  transform: scale(0.9);
  animation: fadeInScale 1.5s ease-out forwards;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media only screen and (max-width: 1750px) {
  .info-container {
    position: relative;
    padding: 50px 0;

    .subtitle {
      margin-bottom: 10px;
    }

    .main-title {
      margin: 10px 0;
    }

    .description {
      margin-bottom: 30px;
      margin-top: 10px;
    }

    .watermark {
      top: 0%;
      left: -11%;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .info-container {
    .watermark {
      top: 10%;
      left: 0%;
    }
  }
}
@media only screen and (max-width: 991px) {
  .info-container {
    .watermark {
      top: 40px;
      left: 0%;
    }
  }
}

.video-btn-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 30px;
}

.icon-background {
  background-color: rgba(255, 92, 51, 0.1);
  border-radius: 6px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--themeColor);

    .play-btn {
      svg {
        color: white;
      }
    }
  }
}

.play-btn {
  svg {
    font-size: var(--commonFontSize-buttonicon);
    color: var(--themeColor);
  }
}

.video-btn-text {
  font-size: var(--commonFontSize-medium);
  color: var(--themeColor);
  font-weight: bold;
  margin-left: 10px;
}
