.coming-soon-sec {
    padding: 100px 0px;

    .title-sec {
        h1 {
            font-size: 50px;
            text-transform: uppercase;
            color: var(--themeColor);
        }

        p {
            font-size: var(--commonFontSize);
        }
    }

    .right-img-sec {}
}