.hr-analytics-overview {
  // min-height: 100vh;
  background: linear-gradient(45deg, #1a1a2e 0%, #16213e 50%, #0f3460 100%);
  color: white;
  padding: 2rem;
  position: relative;

  .overview-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0;

    .overview-header {
      text-align: center;
      margin-bottom: 3rem;

      .overview-title {
        font-size: clamp(2.5rem, 5vw, 4rem);
        font-weight: 800;
        line-height: 1.1;
        margin-bottom: 1.5rem;

        .highlight {
          color: #ef5323;
          font-size: clamp(1.5rem, 3vw, 2.5rem);
        }
      }

      .overview-description {
        font-size: 1.125rem;
        line-height: 1.7;
        color: rgba(255, 255, 255, 0.8);
        max-width: 75%;
        margin: 0 auto 1.5rem;
      }
      .author-details {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
        p {
          margin-bottom: 0;
          font-size: 0.875rem;
          color: var(--whiteColor);
          .iconify {
            color: #ef5223b4;
            margin-right: 0.4rem;
          }
        }
      }
    }

    .overview-stats {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 1.5rem;
      margin-top: 3rem;

      .stat-card {
        background: rgba(255, 255, 255, 0.05);
        padding: 1rem;
        border-radius: 1rem;
        border: 1px solid rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        text-align: left;
        .icon-title {
          display: flex;
          align-items: center;
          margin-bottom: 0.5rem;
          .stat-icon {
            color: #ef5323;
            margin-right: 0.5rem;
          }

          .stat-title {
            font-size: 1.25rem;
            font-weight: 700;
            margin-bottom: 0;
            margin-top: 0;
            color: var(--whiteColor);
          }
        }

        .stat-desc {
          color: rgba(255, 255, 255, 0.7);
          font-size: 0.875rem;
          margin-bottom: 0;
        }
      }
    }
  }
}
