@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// :root {
//   // Colors
//   --primary-color: #f85b05;
//   --secondary-color: #feebe1;
//   --text-color-dark: #212529;
//   --theme-color-bg: #131313;
//   --light-bg-color: #ffefe6;
//   --thme-color-light: #feebe1;
//   --body-text-color: #494949;
//   --header-text-color: #1c1c1c;
//   --section-bg-color: #f3f6fd;
//   --white-color: #ffffff;
//   --black-color: #000000;

//   // Borders and shadows
//   --border-color: #c7c7c7;
//   --border-color-light: #494949;
//   --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
// }

// Font Variables
$font-family-primary: "Inter", sans-serif;
$font-family-secondary: "Inter", sans-serif;

// Font Sizes
$font-size-xxs: 9px; // Extra Extra Small (e.g., instock, stock tag)
$font-size-xs: 12px; // Extra Small (e.g., badge text, small labels)
$font-size-s: 13px; // Navbar links
$font-size-sm: 14px; // Small (e.g., small paragraph, form inputs)
$font-size-base: 16px; // Medium (e.g., regular paragraph text)
$font-size-base-2: 18px; // Medium (e.g., regular paragraph text)
$font-size-lg: 20px; // Large (e.g., headings h5, h4)
$font-size-xl: 24px; // Extra Large (e.g., h3)
$font-size-xxl: 32px; // Double Extra Large (e.g., h2)
$font-size-xxxl: 40px; // Triple Extra Large (e.g., h1 banners)

// Line height
$line-height-base: 1.2;

// Font weights
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Form elements
$input-bg-color: #fbfcff;
$input-border-color: #e0e0e0;
$input-focus-border-color: $secondary-color;
$input-focus-box-color: rgba(4, 84, 135, 0.4) 0px 0px 0px 2px;

// Breakpoints for responsive design
$sm: 320px; // Small devices (phones)
$md: 768px; // Medium devices (tablets)
$lg: 1024px; // Large devices (desktops)
$xl: 1440px; // Extra large devices (large desktops)
