.accordion {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .accordion-item {
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 0.75rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
    overflow: hidden;
    transition: all 0.3s ease;

    &.open {
      border-color: rgba(239, 83, 35, 0.2);

      .accordion-header {
        background: linear-gradient(to right, #fff7f0, #fff0f0);
      }

      .accordion-question,
      .accordion-icon {
        color: #ef5323;
      }

      .accordion-body {
        max-height: 400px;
        opacity: 1;
        padding: 1rem 0;
        @media (max-width: 991px) {
          max-height: max-content;
        }
      }
    }

    .accordion-header {
      width: 100%;
      padding: 1rem 1.5rem;
      text-align: left;
      background-color: #fff;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: all 0.3s ease;
      border: none;

      &:hover {
        background-color: #f9fafb;
      }

      .accordion-question {
        font-size: 1.125rem;
        font-weight: 600;
        color: #1f2937;
        transition: color 0.3s ease;
        margin-bottom: 0 !important;
        width: 95%;
        margin-top: 0;
      }

      .accordion-icon {
        font-size: 1.25rem;
        color: #6b7280;
        transition: color 0.3s ease;
      }
    }

    .accordion-body {
      max-height: 0;
      opacity: 0;
      transition: all 0.3s ease;
      overflow: hidden;
      padding: 0;

      .accordion-answer {
        padding: 0 1.5rem 0rem;
        color: #4b5563;
        line-height: 1.6;
        border-left: 4px solid;
        border-image: linear-gradient(to bottom, #ef5323, orange) 1;
        padding-left: 1rem;
        margin: 0.5rem 1rem 0;
        @media (max-width: 991px) {
          padding: 0 0 0 5px;
        }
        p,
        ul {
          margin: 0;
        }
      }
    }
  }
}
