.services-details {
    padding: 0;
    position: relative;
    z-index: 10;

    @media only screen and (max-width: 1024px) {
        padding-top: 0px;
    }
}

.dataprocessing-herosection-details {
    position: relative;

    .dataprocessing-herosection-bgimage {
        position: absolute;
        top: 0;
        right: 0;

        .imagecontainer {
            height: 600px;
            display: flex;
            justify-content: end;

            img {
                height: 100%;
                width: 850px;

                @media (max-width: 1768px) {
                    width: 650px;
                }

                @media (max-width: 1300px) {
                    width: 550px;
                }

                object-fit: cover;
                box-shadow: -100px 0 150px 50px rgba(239, 82, 35, 0.1);
                border-radius: 0 0 0 100px; // optional for curved bottom-left edge
                transition: box-shadow 0.3s ease-in-out;
            }
        }

        @media (max-width: 1150px) {
            display: none;
        }
    }

    .dataprocessing-herosection {
        background-color: var(--themeColorLight);
        height: 600px;
        width: 100%;
        display: flex;
        align-items: center;

        @media (max-width: 1150px) {
            height: 400px;
        }

        .dataprocessing-herosection-left {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            @media (max-width: 1150px) {
                width: 100%;
            }

            .sub-title {
                color: var(--themeColor);
                font-size: var(--commonFontSize);
                font-weight: 600;
                line-height: 22px;
                margin: 0;
                width: 100%;
                margin-top: 15px;
            }

            .main-title {
                font-size: var(--commonFontSize-subTitle);
                font-weight: 600;
                margin: 0;
                color: var(--blackColor);
                margin: 0px 0 20px;
                line-height: 45px;

                @media (max-width: 768px) {
                    line-height: normal;
                }
            }

            .description {
                color: var(--textColor-medium);
                font-size: var(--commonFontSize);
                font-weight: 400;
                text-align: justify;
                width: 100%;
            }
        }
    }

    .service-btn {
        background-color: var(--themeColor);
        border: 1px solid transparent;
        transition: all 300ms ease;
        font-weight: 500;
        font-size: var(--commonFontSize-medium);
        border-radius: 35px;
        padding: 5px 7px 5px 15px;
        color: var(--whiteColor);
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 30px;

        &:hover {
            color: var(--whiteColor);
        }

        span {
            line-height: normal;
        }

        .component-iconify {
            background-color: var(--whiteColor);
            color: var(--themeColor);
            border-radius: 50%;
        }
    }
}

.dataprocessing-intro-section {
    padding: 4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @media (max-width: 1150px) {
        flex-direction: column;
    }

    .dataprocessing-intro-left {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0 50px;

        @media (max-width: 1150px) {
            width: 100%;
            order: 2;
            margin-top: 50px;
        }

        .dataprocessing-intro-left-title {
            font-size: var(--commonFontSize-Title);
            font-weight: 600;
            margin: 0;
            color: var(--blackColor);
            margin: 0px 0 20px;
            line-height: 45px;
            border-bottom: 3px solid var(--themeColor);

        }

        .dataprocessing-intro-left-description {

            p,
            ul {
                color: var(--textColor);
                font-size: var(--commonFontSize-medium);
                font-weight: 400;
                text-align: justify;
                width: 100%;
            }
        }
    }

    .dataprocessing-intro-right {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        @media (max-width: 1150px) {
            width: 100%;
            margin-top: 30px;
            order: 1;
        }

        .dataprocessing-intro-right-image-container {
            height: 400px;
            width: 400px;
            border-radius: 100px 0 100px 0;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: right;

            }
        }

        .dataprocessing-box {
            position: absolute;
            padding: 8px;
            border-radius: 8px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
            font-weight: bold;
            background-color: var(--whiteColor);
            font-size: var(--commonFontSize-extraLarge);
            display: flex;
            align-items: center;
            z-index: 10;
            gap: 10px;

            .dataprocessing-box-left {
                background-color: #ffeee8;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                font-size: var(--commonFontSize);
                font-weight: bold;
                color: var(--themeColor);
                border-radius: 5px;
                border: 1px solid #e0e0e0;

                .component-iconify {
                    height: 25px;
                    width: 25px;

                    svg {
                        height: 25px;
                        width: 25px;
                    }
                }
            }

            .dataprocessing-box-right {
                font-size: var(--commonFontSize-medium);
                font-weight: 500;
                color: var(--blackColor);
                width: 200px;
                line-height: 20px;

                .dataprocessing-box-right-title {
                    font-size: 1rem;
                }
            }

            &.box-1 {
                left: 0;
                bottom: 0;
            }

            &.box-2 {
                right: 0;
                top: 0;
            }
        }
    }
}

.dataprocessing-moltech-section {
    padding: 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @media (max-width: 1150px) {
        flex-direction: column;
    }

    .dataprocessing-moltech-left {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        @media (max-width: 1150px) {
            width: 100%;
        }

        .dataprocessing-moltech-left-image-container {
            height: 400px;
            width: 400px;
            border-radius: 0 100px 0 100px;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: right;
            }
        }

        .dataprocessing-box {
            position: absolute;
            padding: 8px;
            border-radius: 8px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
            font-weight: bold;
            background-color: var(--whiteColor);
            font-size: var(--commonFontSize-extraLarge);
            display: flex;
            align-items: center;
            z-index: 10;
            gap: 10px;

            .dataprocessing-box-left {
                background-color: #ffeee8;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                font-size: var(--commonFontSize);
                font-weight: bold;
                color: var(--themeColor);
                border-radius: 5px;
                border: 1px solid #e0e0e0;

                .component-iconify {
                    height: 25px;
                    width: 25px;

                    svg {
                        height: 25px;
                        width: 25px;
                    }
                }
            }

            .dataprocessing-box-right {
                font-size: var(--commonFontSize-medium);
                font-weight: 500;
                color: var(--blackColor);
                width: 200px;
                line-height: 20px;

                .dataprocessing-box-right-title {
                    font-size: 1rem;
                }
            }

            &.box-1 {
                left: 0;
                top: 0;
            }

            &.box-2 {
                right: 0;
                bottom: 0;
            }
        }
    }

    .dataprocessing-moltech-right {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0 50px;

        @media (max-width: 1150px) {
            width: 100%;
            margin-top: 30px;
        }

        .dataprocessing-moltech-right-title {
            font-size: var(--commonFontSize-Title);
            font-weight: 600;
            margin: 0;
            color: var(--blackColor);
            margin: 0px 0 20px;
            line-height: 45px;
            border-bottom: 3px solid var(--themeColor);

        }

        .dataprocessing-moltech-right-description {

            p,
            ul {
                color: var(--textColor);
                font-size: var(--commonFontSize-medium);
                font-weight: 400;
                text-align: justify;
                width: 100%;
            }
        }
    }
}

.key-service-title {
    color: var(--themeColor);
    font-size: var(--commonFontSize);
    font-weight: 600;
    line-height: 22px;
    margin-top: 15px;
    text-align: center;
    text-transform: uppercase;

}

.key-service-sub-title {
    font-size: var(--commonFontSize-subTitle);
    font-weight: 600;
    margin: 8px auto 4px;
    color: var(--blackColor);
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 45px;
}

.key-service-content {
    font-size: var(--commonFontSize);
    font-weight: 400;
    line-height: 28px;
    color: var(--textColor-medium);
    margin: 0 auto 15px;
    text-align: center;
    max-width: 80%;
}

.datapreprocessing-service-details {
    margin: 4rem 0 0;

    .datapreprocessing-service-details__features {}

    .datapreprocessing-service-details__features__content {
        display: flex;
        // align-items: center;
        gap: 20px;
        margin-top: 30px;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 50px;
        }

        .datapreprocessing-service-key-card-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            // margin-top: 20px;

            .datapreprocessing-service-key-card {
                padding: 5px 10px;
                border-left: 2px solid var(--themeColor);
                background-color: #fef6f3;
                color: var(--textColor2);
                cursor: pointer;
                transition: all 0.3s ease;
                text-align: center;
                font-size: var(--commonFontSize-medium);
                font-weight: 600;
                border: 3px solid transparent;
                transition: all 0.3s ease;
                user-select: none;
                line-height: 25px;
                border-left: 3px solid transparent;
                white-space: nowrap;

                &.active {
                    border-left: 3px solid var(--themeColor);
                    color: var(--themeColor);
                }
            }
        }

        .description-slider-container {
            position: relative;
            width: 100%;
            overflow: hidden;
            min-height: 700px;

            @media (max-width: 1150px) {
                min-height: 800px;
            }

        }

        .description-slider-wrapper {
            display: flex;
            justify-content: center;
            position: relative;
            transition: transform 0.4s ease;
            perspective: 1000px;
        }

        .description-slide {
            position: absolute;
            width: 70%;
            max-width: 600px;
            padding: 20px;
            border-radius: 10px;
            background-color: var(--whiteColor);
            color: var(--blackColor);
            transition: all 0.4s ease;
            pointer-events: none;
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px !important;
            min-height: 350px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            @media (max-width: 1150px) {
                width: 90%;
            }

            @media (max-width: 550px) {
                width: 100%;
                max-width: 600px;
            }

            &.active {
                pointer-events: auto;
            }

            .description-icon {
                color: var(--themeColor);

                .component-iconify {
                    svg {
                        width: 80px;
                        height: 80px;
                    }
                }
            }

            .description-title {
                font-size: var(--commonFontSize-4extraLarge);
                font-weight: 600;
                margin: 8px auto 15px;
                line-height: 30px;
            }

            .description-content {
                font-size: var(--commonFontSize-medium);
                text-align: justify;
                margin-bottom: 15px;
            }
        }
    }

    .datapreprocessing-process-services {
        margin: 100px 0;

        .key-service-title {
            color: var(--themeColor);
            font-size: var(--commonFontSize);
            font-weight: 600;
            line-height: 22px;
            margin-top: 15px;
            text-align: center;
            text-transform: uppercase;

        }

        .key-service-sub-title {
            font-size: var(--commonFontSize-subTitle);
            font-weight: 600;
            margin: 8px auto 4px;
            color: var(--blackColor);
            width: 80%;
            margin: 0 auto;
            text-align: center;
            line-height: 45px;
            margin-bottom: 50px;
        }

        .key-service-sub-description {
            font-size: var(--commonFontSize-2extraLarge);
            font-weight: 600;
            color: var(--blackColor);
            margin-bottom: 10px;
            text-align: center;
        }

        .datapreprocessing-process-services__content {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 20px;

            .datapreprocessing-process-services__content__item {
                position: relative;
                overflow: hidden;
                background-color: #f1f6f7;
                padding: 20px;
                transition: background-color 0.3s ease;

                // Pseudo-element for background animation
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 0%;
                    background-color: var(--themeColor);
                    transition: height 0.4s ease;
                    z-index: 0;
                }

                .datapreprocessing-process-services__content__item__number,
                .datapreprocessing-process-services__content__item__title,
                .datapreprocessing-process-services__content__item__description {
                    position: relative;
                    z-index: 1;
                    transition: color 0.3s ease;
                    text-align: center;
                }

                .datapreprocessing-process-services__content__item__number {
                    font-size: 80px;
                    font-weight: 600;
                    line-height: 70px;
                    color: var(--blackColor);
                }

                .datapreprocessing-process-services__content__item__title {
                    font-size: var(--commonFontSize);
                    font-weight: 600;
                    color: var(--blackColor);
                    margin-top: 15px;
                }

                .datapreprocessing-process-services__content__item__description {
                    font-size: var(--commonFontSize-medium);
                    color: var(--textColor-medium);
                    margin-top: 5px;
                    opacity: 1;
                    transition: opacity 0.3s ease;
                }

                // Hover effects
                &:hover {
                    cursor: pointer;

                    &::before {
                        height: 100%;
                    }

                    .datapreprocessing-process-services__content__item__number,
                    .datapreprocessing-process-services__content__item__title {
                        color: var(--whiteColor);
                    }

                    .datapreprocessing-process-services__content__item__description {
                        opacity: 1;
                        transform: translateY(0);
                        color: var(--whiteColor);
                    }
                }
            }
        }

    }
}