.get-in-touch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1.875em 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 5px;
  background: #f6f6f6;
  padding: 30px 20px;
  position: relative;

  .banner_text {
    width: 70%;
    text-align: left;
    h4 {
      color: var(--themeDarkColorBlue);
      font-weight: 600;
    }
    p {
      color: var(--textColor);
      font-size: var(--commonFontSize-medium);
      font-weight: normal;
      margin: 0;
      font-size: var(--commonFontSize-medium);

      span {
        color: var(--themeColor);
        padding-left: 5px;
      }
    }
  }
  button {
    width: 20%;
    border-radius: 5px;
    text-decoration: none !important;
    font-weight: normal;
    font-size: var(--commonFontSize);
    color: var(--blackColor) !important;
    width: 145px;
    height: 45px;
    border: 0;
    padding: 8px 10px;
    background: #ffe5d6;
    transition: 0.5s all;
    position: relative;
    span {
      color: var(--themeColor);
    }
    &:hover {
      box-shadow: 0px 0px 30px -10px rgb(163, 154, 148);
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: calc(100% - 60px);
    right: 150px;
    background: url(../../../assets/images/letter_send.webp);
    height: 80px;
    width: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
