.blog-slider {
  width: 300px;

  .slider-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      margin: 0;
      font-size: var(--commonFontSize);
      font-weight: bold;
      color: var(--blackColor);
    }
    .arrows {
      display: flex;
      .arrow {
        cursor: pointer;
        margin: 0 5px;
        font-size: var(--commonFontSize);
        &:hover {
          color: var(--blackColor);
        }
      }
    }
  }

  .slider-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    @media only screen and (max-width: 1200px) {
        flex-direction: row;
        gap: 15px;
      }
    .post {
      display: flex;
      align-items: flex-start;
      margin: 10px 0 0;
      animation: slide 0.5s ease-in-out;
      cursor: pointer;
      border-bottom: 1px solid #d9d9d9;
      padding-bottom: 10px;
      &:last-child{
        border: none;
      }
      @media only screen and (max-width: 1200px) {
        flex-direction: column;
        width: calc(100% / 3);
      }
      @media only screen and (max-width: 767px) {
        width: calc(100% / 2);
      }
      @media only screen and (max-width: 420px) {
        width: calc(100% / 1);
      }
      .thumbnail {
        min-width: 100px;
        max-width: 100px;
        height: 60px;
        background-color: var(--lightColor);
        margin-right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        @media only screen and (max-width: 1200px) {
          height: 100px;
          min-width: 100%;
          max-width: 100%;
      }
        img {
          width: 100%;
          height: 100%;
        }
        svg {
          font-size: var(--commonFontSize-2extraLarge);
          align-items: center;
        }
      }
      .post-info {
        p {
          margin: 0;
          font-size: var(--commonFontSize-extraSmall);
          &:last-child {
            font-size: var(--commonFontSize-2extraSmall);
            color: var(--themeColor);
          }
        }
        h4 {
          font-size: var(--commonFontSize-extraSmall);
          color: var(--blackColor);
          font-weight: 600;
          margin-bottom: 0;
        }
      }
    }
  }
}

@keyframes slide {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
