.header-main-menu {
  padding: 0px 50px !important;
  background-size: 104%;
  max-height: 108px;
  display: flex;
  align-items: center;
  width: 100%;
  transition: 0.5s all;
  backdrop-filter: blur(8px) !important;
  background-color: hsla(0, 0%, 100%, 0) !important;
  position: sticky !important;
  top: 0;
  z-index: 999;
  box-shadow: 0 4px 22px -8px #9bacc97a;
  background-color: hsla(0, 0%, 100%, 0.938) !important;
  // .navbar-brand {
  //   img {
  //     height: auto;
  //     max-width: 196px;
  //   }
  // }

  .menu-items {
    position: relative;

    .navbar-nav {
      color: var(--textColor);
      margin: 0 auto;
      gap: 17px;
      @media only screen and (max-width: 1200px) {
        gap: 10px;
      }

      li {
        position: relative;
        padding: 33px 0;

        &:last-child {
          margin-right: 0 !important;
        }

        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background: var(--textColor);
          top: calc(100% - 25px);
          width: 0;
          left: 0;
          transition: 0.5s all;
        }

        &:hover {
          &:before {
            width: 100%;
          }
        }

        a {
          color: var(--blackColor);
          font-weight: 500;

          @media only screen and (max-width: 1024px) {
            color: var(--whiteColor);
          }
        }

        &.single-dropdown-menu {
          position: relative;
          display: flex;
          align-items: center;

          .component-iconify {
            margin-left: 7px;
          }

          @media only screen and (max-width: 1024px) {
            .component-iconify {
              position: absolute;
              right: 0;
              top: 17px;
              margin: 0;
              color: var(--whiteColor);
              font-size: 22px;
            }
          }

          &.dropdown-active {
            transition: 0.5s;
            position: relative;

            .component-iconify {
              transform: rotate(180deg);
            }

            @media only screen and (max-width: 1024px) {
              color: var(--whiteColor);
            }

            .drop-down-list {
              padding: 5px 0;
              width: auto;
              min-height: 310px;
              animation: rotateMenu 0.5s ease-in-out forwards;
              transform-origin: top center;

              @media only screen and (max-width: 1024px) {
                width: 100% !important;
                position: unset !important;
                min-width: unset !important;
                background: transparent;
                overflow: unset;
              }
            }
          }

          &.dropdown {
            ul {
              &.drop-down-list {
                position: absolute;
                padding: 0;
                min-width: 400px;
                margin: 0;
                background: var(--whiteColor);
                box-shadow: 0 0 32px rgba(0, 0, 0, 0.08);
                top: 70%;
                width: 0;
                height: 0;
                overflow: hidden;
                transition: 0.5s all;


                .services-dropdown {
                  span {
                    color: var(--blackColor);
                    font-size: var(--commonFontSize-large);
                    border-bottom: 1px solid var(--themeColor);
                    font-weight: 500;
                    width: 100%;
                    display: block;
                    padding: 3px 10px;
                  }

                  ul {
                    padding: 0;
                  }
                }

                .dropdown-item-with-image {
                  &:before {
                    display: none;
                  }

                  display: flex;
                  align-items: center;

                  img {
                    width: 30px;
                    margin-right: 20px;
                    cursor: pointer;

                    @media only screen and (max-width: 1024px) {
                      display: none;
                    }
                  }

                  &:hover {
                    a {
                      color: var(--themeColor);
                    }

                    img {
                      filter: brightness(1);
                    }
                  }
                }

                li {
                  padding: 8px 20px;
                  margin-right: 0 !important;
                  list-style-type: none;
                  width: max-content;

                  a {
                    color: var(--themeDarkColor);
                    transition: 0.5s all;
                    font-size: var(--commonFontSize-medium);
                  }
                }
              }
            }

            &:hover {
              .drop-down-list {
                height: auto;
              }
            }
          }
        }

        &.has-component {
          display: flex;
          align-items: center;

          .component-iconify {
            margin-left: 5px;
          }

          .mega-menu {
            width: 100%;
            position: fixed;
            left: 50%;
            transform: translateX(-50%);
            top: 100%;
            height: 0;
            transition: 0.5s all;
            border-top: 1px solid var(--borderColor);
            visibility: hidden;
            overflow: hidden;
            box-shadow: 0 10px 22px -8px #9bacc97a;

            @media only screen and (max-width: 1024px) {
              position: static;
              left: 0 !important;
            }

            @media (min-width: 576px) {
              width: 540px;
            }

            @media (min-width: 768px) {
              width: 720px;
            }

            @media (min-width: 992px) {
              width: 960px;
            }

            @media (min-width: 1200px) {
              width: 1140px;
            }
            @media (min-width: 1400px) {
              width: 1320px;
            }
            &.technology-menu {
              // visibility: visible;
              // height: fit-content;
              // transition: 1s all;
              .custom-mega-menu-header {
                padding: 30px;
                .header-left {
                  display: grid;
                  grid-template-columns: 3fr 1fr;
                  width: 100%;
                  gap: 10px;
                  padding: 0;
                  .header-card-container {
                    row-gap: 20px;
                    .technology-list-block {
                      display: flex;

                      .left-tech-icon {
                        background: #f3f4f6;
                        min-width: 55px;
                        min-height: 55px;
                        max-width: 55px;
                        max-height: 55px;
                        border-radius: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: var(--themeColor);
                        margin-right: 15px;
                        .component-iconify {
                          font-size: 30px;
                          margin: 0;
                        }
                      }
                      .list-menu {
                        .technology-category-title {
                          font-weight: 600;
                          font-size: var(--commonFontSize);
                          color: var(--blackColor);
                          margin-bottom: 5px;
                        }
                        .tech-list {
                          display: flex;
                          flex-direction: column;
                          a {
                            .technology-text {
                              transition: 0.5s all;
                            }
                            &:hover {
                              .technology-text {
                                color: var(--themeColor);
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
                .header-right {
                  padding: 25px;
                  background: linear-gradient(
                    to bottom right,
                    #fff7f2,
                    #fff0f0,
                    #ffeef4
                  );
                  width: 100%;
                  position: relative;
                  overflow: hidden;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  &::before {
                    content: "";
                    position: absolute;
                    top: 1rem;
                    left: 0rem;
                    width: 4rem;
                    height: 4rem;
                    background: linear-gradient(to right, #ef5323, orange);
                    border-radius: 9999px;
                    filter: blur(40px);
                    opacity: 0.5;
                  }
                  &::after {
                    content: "";
                    position: absolute;
                    bottom: 0rem;
                    right: 0rem;
                    width: 5rem;
                    height: 5rem;
                    background: linear-gradient(to right, #ef5323, #ff6a00);
                    border-radius: 9999px;
                    filter: blur(40px);
                    opacity: 0.7;
                  }
                  .top-desc {
                    h6 {
                      color: var(--themeColor);
                      font-weight: 700;
                      margin: 0 0 7px;
                      font-size: var(--commonFontSize-extraLarge);
                    }
                    p {
                    }
                  }
                  .cta {
                    margin-top: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    button {
                      width: fit-content;
                      display: inline-flex;
                      align-items: center;
                      padding: 1rem 2rem;
                      background: linear-gradient(to right, #ef5323, #fb923c);
                      color: #ffffff;
                      font-weight: 600;
                      border-radius: 0.75rem;
                      border: none;
                      cursor: pointer;
                      transition: all 0.3s ease;
                      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
                    }
                  }
                }
              }
            }
          }

          &:hover {
            .mega-menu {
              visibility: visible;
              height: fit-content;
              transition: 1s all;
            }
          }
        }
      }
    }
  }

  .right-btn-sec {
    display: flex;
    align-items: center;

    .main-question-part {
      color: var(--greyTextColor);
      font-size: var(--commonFontSize-extraSmall);

      span {
        position: relative;

        &:before {
          position: absolute;
          content: "";
          height: 1px;
          width: 30px;
          background: var(--themeColor);
          left: 106%;
          top: 50%;
        }
      }

      a {
        margin: 0;
        color: var(--textColor);
        transition: 0.5s all;

        &:hover {
          color: var(--themeColor);
        }
      }
    }

    .connect-btn {
      margin-left: 30px;
    }
  }

  &.sticky {
    position: sticky !important;
    top: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 4px 22px -8px #9bacc97a;
    background-color: hsla(0, 0%, 100%, 0.938) !important;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100vh - 94px);
    background: rgba(0, 0, 0, 0.342);
    z-index: -1;
    left: 0;
    top: 100%;
    transition: 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }

  &.child-menu-hover {
    &::before {
      opacity: 1;
      visibility: visible;
    }
  }
}

.mobile-menu-logo {
  display: none;
}

.close-icon {
  display: none;
}

@keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg);
  }

  70% {
    transform: rotateX(20deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

@media only screen and (max-width: 1600px) {
  .header-main-menu {
    .menu-items {
      .navbar-nav {
        li.single-dropdown-menu {
          ul.drop-down-list {
            left: -620px !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .header-main-menu {
    .menu-items {
      .navbar-nav {
        // margin: 0 0 0 20px;
        gap: 7px;
        li {
          margin-right: 5px !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .header-main-menu {
    .right-btn-sec {
      .main-question-part {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .header-main-menu {
    .menu-items {
      .navbar-nav {
        li {
          position: relative;
          font-size: 13px;
        }

        li.single-dropdown-menu {
          ul.drop-down-list {
            left: -520px !important;
            top: 120%;
            min-width: 1100px;
          }
        }
      }
    }
  }
}

.no-scroll {
  overflow: hidden;
}

.mobile-media {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .mobile-media {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: auto;

    .social-media-icons {
      // padding: 10px;
      width: 35px;
      margin: 0 10px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--whiteColor);
      border-radius: 100%;

      .component-iconify {
        color: var(--whiteColor);
      }
    }
  }

  .navbar-expand-lg {
    .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
      position: absolute;
      flex-direction: column;
      width: 100%;
      top: 0;
      height: 100vh;
      background: #000000c9;
      left: 0;
      position: fixed;
      overflow: hidden;

      .mobile-menu-logo {
        display: block;
        padding: 20px 0;
        margin: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
          width: 95%;
          margin: 0 auto;
        }
      }

      .close-icon {
        display: block !important;
        position: absolute;
        z-index: 999 !important;
        right: 50px;
        top: 20px;

        svg {
          font-size: 50px;
          color: #fff;
        }
      }

      ul {
        flex-direction: column;
        background: #292929;
        height: 100%;
        width: 35%;
        left: 0;
        margin: 0 !important;
        position: absolute;
        padding: 20px 50px 0 20px;

        li {
          border-bottom: 1px solid #323334;
          width: 100%;
        }
      }
    }
  }

  .header-main-menu {
    .menu-items {
      .navbar-nav {
        li {
          padding: 15px 0;

          &:before {
            display: none;
          }
        }
      }

      .drop-down-list {
        position: unset !important;
        min-width: unset !important;
        background-color: transparent !important;
        width: 100% !important;

        .mobile-list {
          display: flex !important;
          width: 100% !important;
        }

        .services-blogs {
          display: none !important;
        }

        .services-dropdown {
          z-index: 999 !important;
          position: relative !important;

          span {
            display: none;
          }

          .dropdown-item-with-image {
            img {
              color: var(--whiteColor);
              filter: brightness(100) !important;

              &:hover {
                filter: brightness(100) !important;
              }
            }
          }

          li {
            a {
              color: var(--whiteColor) !important;
              z-index: 999 !important;
            }

            z-index: 999 !important;
          }
        }
      }

      .single-dropdown-menu {
        display: flex !important;
        flex-direction: column !important;
        align-items: flex-start !important;
        justify-content: flex-start;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .navbar-expand-lg {
    .navbar-collapse {
      ul {
        width: 45%;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .header-main-menu {
    padding: 10px 10px !important;
  }

  .navbar-expand-lg {
    .navbar-collapse {
      ul {
        width: 65%;
      }

      .mobile-menu-logo {
        justify-content: flex-start;
        align-items: flex-start;

        img {
          margin: 0 0 !important;
        }
      }
    }
  }

  .header-main-menu {
    .mobile-menu-icon {
      display: none;
      cursor: pointer;
      margin-left: 0px !important;
      margin-right: 15px !important;
      
    }
  }
}

@media only screen and (max-width: 550px) {
  .header-main-menu {
    padding: 10px 10px !important;

    .right-btn-sec {
      .main-question-part {
        display: none;
      }
    }
  }

  .navbar-expand-lg {
    .navbar-collapse {
      ul {
        width: 100%;
      }

      .mobile-menu-logo {
        justify-content: flex-start;
        align-items: flex-start;

        img {
          margin: 0 0 !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 475px) {
  .header-main-menu .navbar-brand img {
    max-width: 120px;
  }

  .navbar {
    flex-wrap: nowrap !important;

    .mobile-menu-icon {
      margin-right: 5px !important;
    }
  }
}

@media only screen and (max-width: 320px) {
  .header-main-menu .navbar-brand img {
    max-width: 100px;
  }
}

//dropdown
.header-main-menu {
  .mobile-menu {
    align-items: center;
  }

  .mobile-menu-icon {
    margin: 0 15px;

    svg {
      font-size: 25px;
      color: var(--blackColor);
    }
  }

  .menu-items {
    display: flex;
    justify-content: space-between;

    // Mobile styles
    @media (max-width: 768px) {
      display: none;

      &.navbar-collapse {
        display: block;
        transition: all 0.5s ease-in;
        position: absolute;
        top: 0;
        left: -100% !important;
        width: 100%;
        background-color: #00000057;
        z-index: 1000;
        height: 100vh;
        position: fixed !important;

        ul {
          flex-direction: column;

          li {
            padding: 10px;
          }
        }
      }

      &.open {
        position: absolute;
        top: 0%;
        left: 0% !important;
      }
    }
  }

  .mobile-menu-icon {
    display: none;
    cursor: pointer;
    margin-left: -30px;
    margin-right: 25px;

    @media (max-width: 1024px) {
      display: block;
    }
  }
}

@media (max-width: 1024px) {
  .menu-items {
    display: flex;
    justify-content: space-between;
    transition: all 0.5s ease-in !important;

    // Mobile styles
    @media (max-width: 1024px) {
      left: 0;
      transition: all 0.5s ease-in !important;

      &.navbar-collapse {
        display: block;
        transition: all 0.5s ease-in;
        position: absolute;
        top: 0;
        left: -100% !important;
        width: 100%;
        background-color: #00000057;
        z-index: 1000;
        height: 100vh;
        position: fixed !important;

        ul {
          flex-direction: column;

          li {
            padding: 10px;
          }
        }
      }

      &.open {
        position: absolute;
        top: 0%;
        left: 0% !important;
      }
    }
  }

  .header-main-menu {
    background-size: unset !important;
  }
}

@media only screen and (max-width: 1024px) {
  .single-dropdown-menu {
    .drop-down-list {
      position: unset !important;

      .services-dropdown {
        width: 100% !important;
        padding: 0 0 0 15px !important;

        ul {
          width: 100% !important;
          position: unset !important;
          display: inline-block !important;
          padding: 10px 0 0 !important;

          li {
            &.dropdown-item-with-image {
              padding: 8px 10px !important;
              width: 100% !important;
              display: inline-block !important;

              a {
                margin: 0 !important;
                font-size: var(--commonFontSize-small) !important;
              }

              &:last-child {
                border-bottom: 0 !important;
              }
            }
          }
        }
      }
    }

    &.dropdown-active {
      padding-bottom: 0 !important;
    }
  }
}

.portfolio-header {
  .menu-items {
    .navbar-nav {
      li {
        &::before {
          background-color: #fff;
        }

        a {
          color: #fff;
        }
      }

      .single-dropdown-menu {
        svg {
          color: #fff;
        }
      }
    }
  }

  .btn.dark-border-btn {
    color: #fff;
    border: 1px solid #fff;
  }

  .right-btn-sec {
    .main-question-part {
      a {
        color: #fff;
      }

      span {
        color: #fff;
      }
    }
  }
}

.fullscreen-component {
  margin-top: 95px;
  position: absolute;
  left: 0;
  top: -2px;
  width: 100vw;
}

.custom-mega-menu-header {
  display: flex;
  width: 100%;
  background-color: var(--whiteColor);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 100%;

  .header-left {
    width: 100%;
    padding: 10px 15px;

    .header-left-title {
      font-size: var(--commonFontSize);
      font-weight: 500;
      color: var(--themeColor);
      margin-bottom: 10px;
    }

    .header-card-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
      gap: 10px;
      row-gap: 30px;

      @media only screen and (max-width: 1024px) {
        display: block;
      }

      .service-category-block {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .service-category-title {
          display: flex;
          align-items: anchor-center;
          gap: 5px;
          color: var(--themeColor);
          width: fit-content;
          font-size: var(--commonFontSize-medium);
          font-weight: 600;

          .component-iconify {
            margin-left: 0 !important;
          }
        }

        .header-card {
          padding: 10px;
          border-radius: 5px;
          background-color: var(--whiteColor);
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          background-color: #f5f5f5;
          border: 1px solid transparent;

          &:hover {
            background-color: var(--themeColor);
            border: 1px solid var(--themeColor);
            color: var(--whiteColor);
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

            .header-card-title {
              .card-text {
                color: var(--whiteColor);
              }
            }

            .header-card-description {
              color: var(--whiteColor);
            }

            .card-icon {
              .component-iconify {
                color: var(--whiteColor);
              }
            }
          }

          .header-card-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 5px;

            .card-text {
              font-size: var(--commonFontSize);
              font-weight: 600;
              color: #25245d;
              white-space: nowrap;
            }

            .card-icon {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 24px;
              height: 24px;

              .component-iconify {
                svg {
                  width: 24px;
                  height: 24px;
                }
              }
            }
          }

          .header-card-description {
            font-size: var(--commonFontSize-medium);
            font-weight: 400;
            color: var(--textColor);
            line-height: 20px;
          }
        }
      }
    }
  }
}

.has-component:has(.mobile-custom-mega-menu-header) {
  display: block !important;
}

.mobile-tablet-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--whiteColor);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  .sidebar-submenu {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 5px;
  }

  .sidebar-dropdown-toggle {
    display: flex;
    align-items: center;
    color: #000;
    gap: 5px;
    font-size: var(--commonFontSize-medium);
    font-weight: 500;
    background: transparent;
    border: no;
  }

  .submenu-category-title {
    display: none;
  }

  .submenu-category {
    padding-left: 10px;

    a {
      padding: 3px 0;
      display: block;
    }
  }

  .sidebar-link {
    color: #000 !important;
    font-size: var(--commonFontSize-medium) !important;
    font-weight: 500 !important;
    padding: 10px 0 10px 15px !important;
    display: block !important;
    position: relative !important;
    border-bottom: 1px solid var(--borderColor);

    &::before {
      content: "";
      position: absolute;
      top: 20px;
      left: -3px;
      width: 6px;
      height: 6px;
      background-color: var(--themeColor);
      border-radius: 50%;
    }
  }

  .mobile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @media only screen and (max-width: 1024px) {
      padding: 7px 0;
    }
  }

  .mobile-menu-icon {
    display: flex;
    align-items: center;
      background: none;
    border: none;
    padding: 0;
    .component-iconify {
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }

  .mobile-custom-mega-menu-header {
    .header-card-title {
      display: flex;
    }

    .header-card-description {
      display: none;
    }

    .service-category-title {
      display: none;
    }

    .card-icon {
      display: none;
    }

    .header-card {
      border-bottom: 1px solid #858585;
      padding: 3px 0;
    }

    .service-category-block {
      // display: flex;
      // // align-items: center;
      // gap: 5px;
      // flex-direction: column;
      margin: 5px 0;
    }

    .service-category-title {
      .component-iconify {
        color: #fff;
      }

      span {
        color: #fff;
      }
    }
  }
}

.sidebar-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.mobile-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 390px;
  height: 103vh;
  background: #fff;
  z-index: 1100;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  animation: slideIn 0.3s ease forwards;
  overflow: hidden;
  overflow-y: auto;
  @media (max-width: 1024px) {
    padding: 7px 1.5rem;
  }
  @media (max-width: 450px) {
    width: 90vw;
  }

  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      max-width: 240px;
    }
  }

  .sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;

    a {
      text-decoration: none;
      color: #000;
      font-weight: 500;

      &:hover {
        color: var(--themeColor);
      }
    }

    button {
      margin-top: 1rem;
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

.nav-link-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.dropdown-icon {
  font-size: 16px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  padding: 0.25rem;
  display: none;
  z-index: 10;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: fit-content;

  .dropdown-submenu {
    margin-right: 0 !important;
    font-size: 1rem !important;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    a {
      padding: 0.5rem 0.5rem !important;
      color: var(--textColor);
      transition: none !important;
      width: 100%;
    }
    &::before{
      display: none !important;
    }
    &:hover {
      background-color: var(--themeColor);
      a {
        color: var(--whiteColor) !important;
      }
    }
  }
}

li:hover .dropdown-menu {
  display: block;
  padding: 5px;
  border: none;
}
