.privacy-policy-sec {
    overflow-x: hidden !important;
    position: relative;
    .sitemap-top-title-sec {
        background: url(../../assets/images/team-img.webp);
        background-position: center;
        background-size: cover;
        padding: 100px 0;
        display: flex;
        align-items: center;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background-color: #081236de;
            height: 100%;
            width: 100%;
        }

        .left-desc-sec {
            display: flex;
            align-items: center;
            height: 100%;
            z-index: 1;
            position: relative;

            .title-center {
                max-width: 70%;
                margin: 0 auto;

                .sub-title {
                    color: var(--whiteColor);
                    opacity: 0.6;
                }

                .title {
                    font-size: 40px;
                    color: var(--whiteColor);
                }
            }
        }
    }

    


    .policy-desc {
        padding: 50px 0;
        color: var(--textColor);

        .privacy-policy-list {
            ul {
                li {
                    list-style-type: upper-alpha;
                }
            }

            a {
                color: var(--themeColor);
            }
        }
    }
}