.sitemap-top-title-sec {
  background: url(../../assets/images/team-img.webp);
  background-position: center;
  background-size: cover;
  padding: 100px 0;
  display: flex;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-color: #081236de;
    height: 100%;
    width: 100%;
  }

  .left-desc-sec {
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 1;
    position: relative;

    .title-center {
      max-width: 70%;
      margin: 0 auto;

      .sub-title {
        color: var(--whiteColor);
        opacity: 0.6;
      }

      .title {
        font-size: 40px;
        color: var(--whiteColor);
      }
    }
  }
}

.site-map-section {
  overflow-x: hidden !important;
  position: relative;

  .site-map {
    margin: 50px 0;

    .sitemap-link {
      color: var(--textColor);

      h2 {
        font-weight: 600;
      }

      h5 {
        margin-top: 10px;
      }

      h6 {
        margin-top: 10px;
        padding-left: 15px;
      }

      ul {
        li {
          list-style-type: disc;
          transition: 0.5s all;
          margin-bottom: 10px;

          a {
            color: var(--themeColor);
          }

          &:hover {
            padding-left: 5px;
          }
        }

        &.inner-list {
          padding-left: 45px;
        }

        &.tow-section {
          display: grid;
          gap: 5px;
          grid-template-columns: 1fr;
          @media (min-width: 1024px) {
            grid-template-columns: 1fr 1fr;
          }
        }
      }
    }

    &:after {
      background: url(../../assets/images/sitemap.webp) no-repeat;
      position: absolute;
      content: "";
      height: 100%;
      width: 30%;
      bottom: 0px;
      right: 0;
      opacity: 0.2;
      background-size: contain;
      background-position: 100% 100%;
      z-index: -1;
    }
  }
}
