.ts-how-moltech-can-section {
  padding: 4rem 0;
  background: var(--blackColor);
  .container {
    margin: 0 auto;
    padding: 0 1rem;
    z-index: 2;
    position: relative;
    @media (min-width: 576px) {
      max-width: 540px;
    }
    @media (min-width: 768px) {
      max-width: 720px;
    }
    @media (min-width: 992px) {
      max-width: 960px;
    }
    @media (min-width: 1200px) {
      max-width: 1140px;
    }
    @media (min-width: 1400px) {
      max-width: 1320px;
    }

    .how-moltech-can-title {
      .content-title {
        font-size: var(--commonFontSize-MainTitle);
        font-weight: 700;
        color: var(--whiteColor);
        margin-bottom: 1.5rem;
        line-height: 1.25;
      }
      .desc {
        font-size: 1.15rem;
        color: #b5b5b5;
        margin-bottom: 0.5rem;
        line-height: 1.5;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .moltech-can-slider {
      .slider-section {
        margin-top: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        @media (max-width: 767px) {
          grid-template-columns: 1fr;
        }
        .slider-card-sec {
          padding: 1rem;
          background: #252525;
          height: 100%;
          width: calc(100%) !important;
          margin: 0 auto !important;
          text-align: left;
          .title-icon {
            display: flex;
            align-items: center;

            .icon-part {
              height: 3.2rem;
              width: 3.2rem;
              border-radius: 100%;
              background: linear-gradient(to right, #ef5323, #ff6a00);
              margin-right: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              box-shadow: 0px 2px 24px -2px #000;
              .icon {
                color: var(--whiteColor);
                width: 27px;
                height: 27px;
              }
            }
            .box-slide-title {
              font-size: var(--commonFontSize-large);
              color: #ffffff;
              line-height: var(--commonFontSize-extraLarge);
              margin: 0;
            }
          }
          .box-slid-desc {
            margin-top: 10px;
            font-size: 1rem;
            color: #b0b0b0;
            margin-bottom: 0;
            line-height: 1.5;
          }
        }
      }
    }
    .bottom-desc {
      display: inline-block;
      margin-top: 20px;
      margin-bottom: 0;
      font-size: 1.15rem;
      color: #b5b5b5;
      margin-bottom: 0.5rem;
      line-height: 1.5;
      font-style: italic;
      p{
        margin-bottom: 1rem;
      }
    }
  }
}
