.testimonial {
  padding: 60px 6% 40px;
  background: var(--lightGray);
  @media (max-width: 767px) {
    padding: 30px 6% 0px;
  }
  .testimonial-sec {
    .testimonial-slides {
      .testimonial-card {
        padding: 0 12px 15px;
        margin-top: 40px;
        .top-card-sec {
          background: var(--whiteColor);
          padding: 10px;
          border-radius: 10px;
          box-shadow: 0 8px 12px #6c6c6c33;

          .testimonial-content {
            position: relative;
            .testimonial-info {
              .name {
                font-weight: 600;
                font-size: var(--commonFontSize);
                color: var(--blackColor);
                margin: 0;
              }
              .designation {
                font-size: var(--commonFontSize-extraSmall);
                margin: 0;
                color: var(--themeColor);
              }
            }
            .desc {
              font-size: var(--commonFontSize-small);
              margin: 5px 0 0;
            }
            &::before {
              position: absolute;
              content: "\a";
              border-style: solid;
              border-width: 32px 55px 0px 0px;
              border-color: transparent #fff transparent transparent;
              border-radius: 0px;
              position: absolute;
              bottom: -30px;
              transform: rotate(180deg);
              left: 20px;
            }
          }
        }
        .testimonial-footer {
          margin-top: 25px;
          .testimonial-image {
            width: 68px;
            height: 68px;
            background: var(--whiteColor);
            overflow: hidden;
            border-radius: 100%;
            box-shadow: 0 8px 12px #6c6c6c33;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              border-radius: 100%;
              min-width: 60px;
              min-height: 60px;
              max-width: 60px;
              max-height: 60px;
            }
          }
        }
      }
      ul {
        li {
          button {
            &:before {
              color: #ef5223b8;
              font-size: var(--commonFontSize-extraSmall);
            }
          }
          
        }
      }
    }
  }
  .slider-sec {
    .embla {
      overflow: hidden;
    }
    .embla__container {
      display: flex;
    }
    .embla__slide {
      flex: 0 0 100%; // mobile: 1 slide
      min-width: 0;
    }

    @media (min-width: 991px) {
      .embla__slide {
        flex: 0 0 50%; // tablet: 2 slides
      }
    }
    @media (min-width: 1025px) {
      .embla__slide {
        flex: 0 0 33.333%; // desktop: 3 slides
      }
    }
  }
}
